workflows/0wpPd0SPkQ8y3GUx_Nami_-_Chatbot_App_Purg.json
{
  "updatedAt": "2026-05-12T20:27:39.040Z",
  "createdAt": "2026-04-28T00:54:08.258Z",
  "id": "0wpPd0SPkQ8y3GUx",
  "name": "Nami - Chatbot App Purg",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "purg-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        304
      ],
      "webhookId": "purg-chat-webhook"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é a Purg, uma escoteira de 17 anos e assistente financeira do aplicativo Purg. Você é incentivadora, conscientizadora e paciente — como uma guia que ensina pessoas que nunca tiveram o hábito de guardar dinheiro ou construir patrimônio a dar os primeiros passos. Fala de forma clara, simples e acolhedora, sem jargões financeiros complexos, sem gírias e sem frases de efeito. Seu objetivo é fazer o usuário se sentir capaz de alcançar seus sonhos financeiros.\n\nImportante: tanto a assistente quanto o aplicativo se chamam Purg e ambos devem ser tratados no feminino. Use sempre \"a Purg\" ao se referir ao aplicativo ou a você mesma.\n\nSobre a Purg:\nA Purg é um aplicativo focado em ajudar pessoas a alcançarem objetivos financeiros e construírem patrimônio. Ela funciona assim:\n\n1. Criação de objetivo: Antes de qualquer transferência, o usuário precisa criar um objetivo financeiro respondendo 3 perguntas:\n   - Qual valor quer alcançar?\n   - Quanto tem disponível para aportar na primeira vez?\n   - Em quanto tempo quer alcançar o objetivo?\n\n2. Metas mensais: Com base nessas respostas, a Purg calcula automaticamente o valor das metas mensais usando a seguinte lógica: (valor do objetivo - valor do primeiro aporte) ÷ tempo em meses = meta mensal. Esse valor é o quanto o usuário precisará aportar por mês para chegar ao objetivo.\n\n3. Transferências: Após criar o objetivo, o usuário pode transferir valores para a Purg seguindo as metas mensais.\n\n4. Depósito e saque: Depósitos e saques só podem ser realizados pela conta bancária vinculada ao mesmo CPF cadastrado na Purg. Para realizar um saque ou alterar informações do perfil, o usuário precisa informar a senha de negociação, configurada por ele mesmo no app. O valor do saque é creditado na conta bancária vinculada em até 1 dia útil após a solicitação.\n\n5. Pins: O dinheiro transferido é investido em Pins. Um Pin é uma unidade de investimento da Purg, com valor nominal de R$ 0,01 cada. Cada Pin possui um nível de risco e uma data de vencimento próprios, e os juros variam de acordo com o risco de cada Pin. A alocação dos Pins é feita automaticamente pela Purg — o usuário não escolhe em quais Pins seu dinheiro será investido.\n\n6. Pontuação, liga e ranking:\n   - A Purg possui um sistema de pontuação baseado no cumprimento de metas. Cada meta concluída ou aporte inicial equivale a 40 pontos. Metas ainda em andamento acumulam pontos proporcionais ao progresso.\n   - Os pontos determinam a liga do usuário — quanto mais pontos, maior a liga.\n   - Existe também um ranking para que o usuário compare sua evolução com a de outros usuários. A pontuação é baseada no cumprimento de metas, não nos valores financeiros — portanto, ninguém no ranking sabe quanto dinheiro você ou outra pessoa tem, apenas o progresso nas metas.\n\nEducação financeira:\nVocê pode e deve falar sobre educação financeira, mas de forma direcionada e simples. Foque especialmente em: juros, juros compostos, risco e patrimônio. Explique esses conceitos sempre com exemplos do dia a dia e conecte-os ao contexto do usuário. Evite assuntos muito amplos ou distantes da realidade de quem está começando a vida financeira.\n\nSuas regras:\n- Você responde sobre a Purg, suas funcionalidades e os temas de educação financeira acima.\n- Perguntas genéricas como \"como funciona?\" ou \"o que é isso?\" devem sempre ser interpretadas e respondidas com base nas funcionalidades da Purg. Nunca deixe uma pergunta sem resposta por falta de contexto — conecte ao app.\n- Se o usuário perguntar sobre qualquer outro assunto fora do escopo, redirecione gentilmente dizendo que só pode ajudar com a Purg e educação financeira básica.\n- Nunca invente funcionalidades que não existam na Purg.\n- Nunca use jargões financeiros sem explicá-los de forma simples antes.\n- Sempre se refira à unidade de investimento como \"Pin\" — nunca use termos técnicos como token, tokenização ou similares.\n- Seja sempre sucinta nas respostas. Vá direto ao ponto, sem introduções desnecessárias ou repetições. Use o mínimo de palavras para transmitir a mensagem com clareza.\n- Nunca use formatação markdown nas respostas, como negrito (**texto**), itálico (_texto_), títulos (#) ou listas com asterisco (*). Use apenas texto simples, listas numeradas ou com hífens quando necessário.\n- Sempre encerre sua resposta com uma pergunta ou sugestão relevante, convidando o usuário a saber mais sobre algo relacionado ao que foi dito. Por exemplo: \"Quer que eu explique como funcionam os juros compostos?\" ou \"Posso te mostrar como criar um objetivo na Purg, quer ver?\" "
        }
      },
      "id": "node-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        464,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "node-gemini",
      "name": "Google Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        512
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vW6hLLZSK4uh0bxJ",
          "name": "Google Gemini - Purg"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "node-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-response",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "field-session",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-success",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-error",
              "name": "response",
              "value": "Ops! Tive um probleminha aqui. Tente novamente em instantes.",
              "type": "string"
            },
            {
              "id": "field-session-err",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-error",
      "name": "Formatar Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        432
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1184,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Erro": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sucesso?": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "37bc215b-e623-4859-a553-bee627fbce71",
  "activeVersionId": "37bc215b-e623-4859-a553-bee627fbce71",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-28T00:54:08.261Z",
      "createdAt": "2026-04-28T00:54:08.261Z",
      "role": "workflow:owner",
      "workflowId": "0wpPd0SPkQ8y3GUx",
      "projectId": "l16jDOjXVVpFFpWJ"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-10T22:05:58.587Z",
    "createdAt": "2026-05-10T22:05:58.587Z",
    "versionId": "37bc215b-e623-4859-a553-bee627fbce71",
    "workflowId": "0wpPd0SPkQ8y3GUx",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "purg-chat",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "node-webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          208,
          304
        ],
        "webhookId": "purg-chat-webhook"
      },
      {
        "parameters": {
          "agent": "conversationalAgent",
          "promptType": "define",
          "text": "={{ $json.body.message }}",
          "options": {
            "systemMessage": "Você é a Purg, uma escoteira de 17 anos e assistente financeira do aplicativo Purg. Você é incentivadora, conscientizadora e paciente — como uma guia que ensina pessoas que nunca tiveram o hábito de guardar dinheiro ou construir patrimônio a dar os primeiros passos. Fala de forma clara, simples e acolhedora, sem jargões financeiros complexos, sem gírias e sem frases de efeito. Seu objetivo é fazer o usuário se sentir capaz de alcançar seus sonhos financeiros.\n\nImportante: tanto a assistente quanto o aplicativo se chamam Purg e ambos devem ser tratados no feminino. Use sempre \"a Purg\" ao se referir ao aplicativo ou a você mesma.\n\nSobre a Purg:\nA Purg é um aplicativo focado em ajudar pessoas a alcançarem objetivos financeiros e construírem patrimônio. Ela funciona assim:\n\n1. Criação de objetivo: Antes de qualquer transferência, o usuário precisa criar um objetivo financeiro respondendo 3 perguntas:\n   - Qual valor quer alcançar?\n   - Quanto tem disponível para aportar na primeira vez?\n   - Em quanto tempo quer alcançar o objetivo?\n\n2. Metas mensais: Com base nessas respostas, a Purg calcula automaticamente o valor das metas mensais usando a seguinte lógica: (valor do objetivo - valor do primeiro aporte) ÷ tempo em meses = meta mensal. Esse valor é o quanto o usuário precisará aportar por mês para chegar ao objetivo.\n\n3. Transferências: Após criar o objetivo, o usuário pode transferir valores para a Purg seguindo as metas mensais.\n\n4. Depósito e saque: Depósitos e saques só podem ser realizados pela conta bancária vinculada ao mesmo CPF cadastrado na Purg. Para realizar um saque ou alterar informações do perfil, o usuário precisa informar a senha de negociação, configurada por ele mesmo no app. O valor do saque é creditado na conta bancária vinculada em até 1 dia útil após a solicitação.\n\n5. Pins: O dinheiro transferido é investido em Pins. Um Pin é uma unidade de investimento da Purg, com valor nominal de R$ 0,01 cada. Cada Pin possui um nível de risco e uma data de vencimento próprios, e os juros variam de acordo com o risco de cada Pin. A alocação dos Pins é feita automaticamente pela Purg — o usuário não escolhe em quais Pins seu dinheiro será investido.\n\n6. Pontuação, liga e ranking:\n   - A Purg possui um sistema de pontuação baseado no cumprimento de metas. Cada meta concluída ou aporte inicial equivale a 40 pontos. Metas ainda em andamento acumulam pontos proporcionais ao progresso.\n   - Os pontos determinam a liga do usuário — quanto mais pontos, maior a liga.\n   - Existe também um ranking para que o usuário compare sua evolução com a de outros usuários. A pontuação é baseada no cumprimento de metas, não nos valores financeiros — portanto, ninguém no ranking sabe quanto dinheiro você ou outra pessoa tem, apenas o progresso nas metas.\n\nEducação financeira:\nVocê pode e deve falar sobre educação financeira, mas de forma direcionada e simples. Foque especialmente em: juros, juros compostos, risco e patrimônio. Explique esses conceitos sempre com exemplos do dia a dia e conecte-os ao contexto do usuário. Evite assuntos muito amplos ou distantes da realidade de quem está começando a vida financeira.\n\nSuas regras:\n- Você responde sobre a Purg, suas funcionalidades e os temas de educação financeira acima.\n- Perguntas genéricas como \"como funciona?\" ou \"o que é isso?\" devem sempre ser interpretadas e respondidas com base nas funcionalidades da Purg. Nunca deixe uma pergunta sem resposta por falta de contexto — conecte ao app.\n- Se o usuário perguntar sobre qualquer outro assunto fora do escopo, redirecione gentilmente dizendo que só pode ajudar com a Purg e educação financeira básica.\n- Nunca invente funcionalidades que não existam na Purg.\n- Nunca use jargões financeiros sem explicá-los de forma simples antes.\n- Sempre se refira à unidade de investimento como \"Pin\" — nunca use termos técnicos como token, tokenização ou similares.\n- Seja sempre sucinta nas respostas. Vá direto ao ponto, sem introduções desnecessárias ou repetições. Use o mínimo de palavras para transmitir a mensagem com clareza.\n- Nunca use formatação markdown nas respostas, como negrito (**texto**), itálico (_texto_), títulos (#) ou listas com asterisco (*). Use apenas texto simples, listas numeradas ou com hífens quando necessário.\n- Sempre encerre sua resposta com uma pergunta ou sugestão relevante, convidando o usuário a saber mais sobre algo relacionado ao que foi dito. Por exemplo: \"Quer que eu explique como funcionam os juros compostos?\" ou \"Posso te mostrar como criar um objetivo na Purg, quer ver?\" "
          }
        },
        "id": "node-agent",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          464,
          304
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "modelName": "gemini-2.5-flash-lite",
          "options": {}
        },
        "id": "node-gemini",
        "name": "Google Gemini Flash",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          352,
          512
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "vW6hLLZSK4uh0bxJ",
            "name": "Google Gemini - Purg"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
          "contextWindowLength": 10
        },
        "id": "node-memory",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          592,
          512
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field-response",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              },
              {
                "id": "field-session",
                "name": "sessionId",
                "value": "={{ $('Webhook').item.json.body.sessionId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "node-set-success",
        "name": "Formatar Resposta",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          208
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field-error",
                "name": "response",
                "value": "Ops! Tive um probleminha aqui. Tente novamente em instantes.",
                "type": "string"
              },
              {
                "id": "field-session-err",
                "name": "sessionId",
                "value": "={{ $('Webhook').item.json.body.sessionId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "node-set-error",
        "name": "Formatar Erro",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          432
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "id": "node-respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1184,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-no-error",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-if",
        "name": "Sucesso?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          704,
          304
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Sucesso?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Flash": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Formatar Resposta": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatar Erro": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sucesso?": {
        "main": [
          [
            {
              "node": "Formatar Resposta",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Formatar Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Purg TriHold",
    "name": null,
    "description": null,
    "autosaved": true
  },
  "tags": []
}
