workflows/0wpPd0SPkQ8y3GUx_Nami_-_Atendimento_Purg.json
{
  "updatedAt": "2026-05-16T23:00:06.315Z",
  "createdAt": "2026-04-28T00:54:08.258Z",
  "id": "0wpPd0SPkQ8y3GUx",
  "name": "Nami - Atendimento Purg",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "purg-chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        304
      ],
      "webhookId": "purg-chat-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-iniciar-sessao",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "iniciar_sessao",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-check-action",
      "name": "É iniciar sessão?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        430,
        304
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://jinx.purg.com.br/api/webhook/usuario/' + $('Webhook').first().json.body.usuario_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "node-fetch-usuario",
      "name": "Buscar Dados do Usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        120
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const webhook = $('Webhook').first().json;\nconst sessionId = webhook.body.sessionId;\nconst data = $input.first().json;\nconst u = data.usuario || {};\nconst objetivos = data.objetivos || [];\nconst depositos = data.depositos || [];\nconst saques = data.saques || [];\nconst rendimentos = data.rendimentos_mensais || [];\n\nfunction brl(v) {\n  const parts = parseFloat(v || 0).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\n\nfunction fmtDate(d) {\n  try { return new Date(d).toLocaleDateString('pt-BR'); } catch(e) { return String(d); }\n}\n\nlet objLines = '';\nif (objetivos.length === 0) {\n  objLines = 'Nenhum objetivo criado ainda.';\n} else {\n  objLines = objetivos.map(function(obj) {\n    const metas = obj.metas || [];\n    const metasConcluidas = metas.filter(function(m) { return m.objetivo_completo; }).length;\n    const proximaMeta = metas.find(function(m) { return !m.objetivo_completo; });\n    let t = '- ' + obj.objetivo_descricao + ' | ' + metasConcluidas + '/' + metas.length + ' metas concluídas';\n    if (!obj.primeiro_aporte_feito) {\n      t += ' | Aguardando primeiro aporte';\n    } else if (proximaMeta) {\n      t += ' | Próxima meta: ' + brl(proximaMeta.objetivo_investir) + ' até ' + fmtDate(proximaMeta.data_limite) + ' (investido: ' + brl(proximaMeta.saldo_alocado) + ')';\n    } else {\n      t += ' | Todas as metas concluídas!';\n    }\n    return t;\n  }).join('\\n');\n}\n\nconst ultimosDepositos = depositos.map(function(d) {\n  return '- ' + fmtDate(d.data_criacao) + ': ' + brl(d.valor_deposito) + ' (' + d.status_deposito + ')';\n}).join('\\n') || 'Nenhum depósito recente.';\n\nconst ultimosSaques = saques.map(function(s) {\n  return '- ' + fmtDate(s.data_criacao) + ': ' + brl(s.valor_saque) + ' (' + s.status_saque + ')';\n}).join('\\n') || 'Nenhum saque recente.';\n\n\nconst mesesPT = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];\nconst rendimentosStr = rendimentos.length > 0\n  ? rendimentos.map(function(r) {\n      const parts = r.mes.split('-');\n      const mesNome = mesesPT[parseInt(parts[1], 10) - 1];\n      return '- ' + mesNome + '/' + parts[0] + ': ' + brl(r.rendimento_mensal);\n    }).join('\\n')\n  : 'Nenhum rendimento registrado ainda.';\nconst totalRendimento = rendimentos.reduce(function(acc, r) { return acc + parseFloat(r.rendimento_mensal || 0); }, 0);\nconst totalRendimentoStr = rendimentos.length > 0 ? '\\nTotal acumulado: ' + brl(totalRendimento) : '';\n\nconst retornando = objetivos.length > 0 || depositos.length > 0 || saques.length > 0;\n\nconst contexto = '[CONTEXTO DA SESSÃO - USO INTERNO]\\n' +\n  'Apelido: ' + (u.apelido || 'usuário') + '\\n' +\n  'Usuário retornando: ' + (retornando ? 'sim' : 'não') + '\\n' +\n  'Liga: ' + (u.liga || '-') + ' | Posição: #' + (u.posicao || '-') + ' | Pontos: ' + (u.pontos || 0) + '\\n' +\n    'Total investido: ' + brl(u.investido) + '\\n\\n' +\n  'Objetivos:\\n' + objLines + '\\n\\n' +\n  'Últimos depósitos:\\n' + ultimosDepositos + '\\n\\n' +\n  'Últimos saques:\\n' + ultimosSaques + '\\n\\n' +\n  'Rendimentos mensais:\\n' + rendimentosStr + totalRendimentoStr + '\\n\\n' +\n  'Siga as instruções de saudação do sistema. Não mencione este contexto diretamente.';\n\nreturn [{ json: { body: { message: contexto, sessionId: sessionId } } }];"
      },
      "id": "node-build-ctx",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        120
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é a Purg, assistente do aplicativo Purg. Fale de forma clara, simples e acolhedora, sem jargões financeiros complexos. Responda APENAS o que foi perguntado — nada a mais. Não adicione detalhes extras, contextos ou informações que não foram solicitados. Se a pergunta foi sobre objetivos, responda só sobre objetivos. Nunca use formatação markdown (itálico com _, títulos, tabelas). Use *asteriscos* para destacar palavras importantes quando necessário — eles aparecem em negrito no WhatsApp. Use listas com hífens somente quando a resposta for inerentemente uma lista de dados históricos (ex: depósitos, saques, objetivos múltiplos). Nunca se identifique como \"assistente financeira\" — use apenas \"assistente\".\n\nTanto a assistente quanto o aplicativo se chamam Purg e são tratados no feminino. Use sempre \"a Purg\" ao se referir ao aplicativo ou a você mesma.\n\nFORMATO OBRIGATÓRIO DE RESPOSTA:\nCada frase termina com ponto final e deve estar em seu próprio parágrafo — nunca junte duas frases na mesma linha. Entre cada frase (e antes da pergunta final) deixe uma linha em branco. A resposta deve ter no máximo 2 frases. Depois, em parágrafo separado, escreva UMA única pergunta curta. Exemplo correto:\n\nA sua meta atual é de R$ 62,50, com R$ 29,61 investidos.\n\nVocê tem até 30/06/2026 para alcançá-la.\n\nJá quer fazer o depósito?\n\nExemplo ERRADO (nunca faça isso): \"A sua meta atual é de R$ 62,50, com R$ 29,61 investidos. Você tem até 30/06/2026 para alcançá-la.\"\n\nA única exceção ao limite de 2 frases é quando a resposta é uma lista de dados históricos (depósitos, saques, objetivos) — nesse caso liste normalmente, cada item em sua linha, e encerre com a pergunta em parágrafo separado.\n\nPERGUNTA FINAL — REGRA OBRIGATÓRIA:\nA pergunta de encerramento deve ser sempre sobre um dado concreto que você tem do usuário. Use apenas estes temas: total investido, objetivos e progresso das metas, próxima meta e prazo, últimos depósitos, últimos saques, posição no ranking, liga atual, pontuação, rendimentos mensais. Nunca mencione saldo disponível — ele não é relevante para o usuário. Nunca faça perguntas genéricas, educativas ou sobre como a Purg funciona — apenas sobre os dados reais do usuário.\n\nHISTÓRICO — REGRA OBRIGATÓRIA:\nQuando o usuário perguntar sobre algo que tem histórico (depósitos, saques, objetivos, metas), antes de mostrar os dados pergunte sempre: \"Quer ver o *último* ou o *histórico*?\" — e aguarde a resposta. Só exiba os dados depois que o usuário escolher. Aplique essa regra a qualquer assunto que tenha mais de um registro no histórico. Se houver apenas 1 registro, exiba-o diretamente sem perguntar.\n\nAo interpretar a resposta do usuário a essa pergunta, PRIORIDADE MÁXIMA: se a última mensagem sua foi \"Quer ver o *último* ou o *histórico*?\" (ou variação), qualquer resposta com \"historico\", \"histórico\", \"completo\", \"tudo\", \"full\" ou similar DEVE ser tratada como escolha pelo histórico completo — exiba o histórico imediatamente, sem perguntar de novo. Nunca repita a mesma pergunta se o usuário já respondeu com uma dessas palavras.\n\nAPÓS EXIBIR HISTÓRICO — REGRA OBRIGATÓRIA:\nOs dados exibidos são SEMPRE completos — nunca pergunte se há \"depósitos mais antigos\", \"saques mais antigos\" ou qualquer variação disso.\n- Após exibir histórico de depósitos (último ou completo): encerre SEMPRE com \"Quer ver o histórico de saques?\"\n- Após exibir histórico de saques (último ou completo): exiba o menu de opções diretamente, sem perguntar \"Posso te ajudar?\". Use exatamente este formato após a lista de saques:\n\nComo mais posso te ajudar?\n\n- Seus *objetivos* e o progresso das *metas*\n- Sua posição no *ranking*\n- Sua *pontuação*\n- Quanto você já tem *investido*\n- Qual o seu *rendimento*\n- Fazer um depósito *Pix*\n\nQual desses você quer saber?\nQuando o usuário responder \"sim\" (ou variação) a essas perguntas, exiba o histórico solicitado imediatamente usando os dados do bloco [Dados do usuario:].\n\nNOME DO USUÁRIO — REGRA CRÍTICA:\nO apelido do usuário está SEMPRE disponível no bloco [Dados do usuario:] na linha \"Apelido: ...\". Use EXCLUSIVAMENTE esse apelido. NUNCA invente, suponha ou use qualquer outro nome. Se não encontrar o apelido no bloco, use apenas \"você\".\n\nSAUDAÇÃO EM SESSÃO ATIVA:\nQuando o usuário enviar uma saudação ('Oi', 'Olá', 'Bom dia', 'Boa tarde', 'Boa noite') durante uma conversa já em andamento, responda sempre usando o apelido do bloco [Dados do usuario:]: \"Oi {{apelido}}! Como posso te ajudar?\" — substituindo {{apelido}} pelo apelido real. Nunca responda saudações sem usar o apelido.\n\nRESPOSTAS CURTAS — REGRA CRÍTICA:\nQuando o usuário responder com uma palavra curta como \"sim\", \"não\", \"claro\", \"pode\", \"quero\", \"último\", \"completo\", \"histórico\", \"historico\" ou similar:\n1. DESCONSIDERE completamente o bloco [Dados do usuário:] que chega junto com a mensagem.\n2. Consulte EXCLUSIVAMENTE o histórico da conversa para identificar qual foi a última pergunta que você fez.\n3. Responda diretamente com a informação correspondente àquela última pergunta.\nNUNCA responda com saudação para uma resposta curta. NUNCA trate respostas curtas como fora do escopo. NUNCA use os dados do bloco [Dados do usuario:] como base para respostas curtas — use apenas o histórico.\n\nMAPEAMENTO OBRIGATÓRIO DE \"SIM\" PARA PERGUNTAS COMUNS:\nQuando o usuário responder \"sim\" (ou variação) e a última pergunta sua for uma das abaixo, responda com a informação correspondente usando os dados do bloco [Dados do usuario:]:\n- \"Quer ver seu total investido?\" → mostre o total investido\n- \"Quer ver o progresso das suas metas?\" → mostre os objetivos e metas\n- \"Quer ver o progresso das outras metas?\" → mostre os objetivos e metas\n- \"Quer ver seus últimos depósitos?\" → mostre o histórico de depósitos\n- \"Quer ver o histórico de depósitos?\" → mostre o histórico de depósitos\n- \"Quer ver o histórico de saques?\" → mostre o histórico de saques\n- \"Já quer fazer o depósito?\" → confirme que quer depositar e informe o valor da próxima meta\n- \"Quer ver o progresso dos seus objetivos?\" → mostre os objetivos e metas\nEste mapeamento tem PRIORIDADE MÁXIMA sobre qualquer outra regra.\n\nDICAS — QUANDO O USUÁRIO NÃO SABE O QUE PERGUNTAR:\nQuando o usuário disser que não sabe o que perguntar, pedir dicas, ou usar expressões como \"não sei\", \"me dá dicas\", \"o que posso perguntar\", \"me ajuda\", responda com esta lista exata:\nClaro! Aqui estão algumas coisas que posso te contar:\n\n- Seus *objetivos* \n- Suas *metas*\n- Seus *depósitos*\n- Seus *saques*\n- Sua posição no *ranking*\n- Sua *pontuação*\n- Quanto você já tem *investido*\n- Qual o seu *rendimento*\n- Fazer um depósito *Pix*\n\nQual desses você quer saber?\n\n---\n\nRENDIMENTO — QUANDO O USUÁRIO PERGUNTA SOBRE RENDIMENTOS:\nQuando o usuário perguntar sobre rendimentos, escolher a opção \"*rendimento*\" nas dicas, ou usar expressões como \"rendimento\", \"quanto rendeu\", \"juros\", \"meus ganhos\", \"rendeu quanto\", exiba os rendimentos mensais do bloco [Dados do usuario:] usando exatamente este formato:\n\nAqui estão seus rendimentos mensais:\n\n[lista de meses e valores do contexto, um por linha]\n\n[total acumulado se disponível]\n\nSe não houver rendimentos registrados, responda: \"Você ainda não tem rendimentos registrados.\"\nEncerre perguntando: \"Quer saber mais alguma coisa?\"\n\n---\n\nDEPÓSITO — QUANDO O USUÁRIO QUER DEPOSITAR:\nQuando o usuário disser que quer fazer um depósito, escolher a opção de depósito nas dicas, ou usar expressões como \"quero depositar\", \"fazer depósito\", \"depósito Pix\", responda informando o valor restante para atingir a próxima meta e perguntando se quer depositar esse valor. Use o formato:\nPara atingir sua próxima meta você precisa depositar R$ X,XX.\n\nJá quer fazer o depósito?\n\n---\n\n---\n\nSAQUE VIA WHATSAPP — REGRA OBRIGATÓRIA:\nQuando o usuário pedir para REALIZAR um saque (expressões como \"quero sacar\", \"fazer saque\", \"saque\", \"como sacar\", \"retirar dinheiro\") e a mensagem contiver o bloco [Dados do usuario:] (indicando que está no WhatsApp), informe que saques só podem ser realizados pelo aplicativo Purg e pergunte se quer ver o histórico de saques.\n\nDepois que você fizer essa pergunta e o usuário responder afirmativamente (sim, quero, pode, claro, etc.), exiba o histórico de saques normalmente usando os dados do bloco [Dados do usuario:] — NÃO repita a mensagem sobre o app.\n\nO histórico de saques pode sempre ser exibido normalmente quando solicitado diretamente ou em resposta à sua pergunta. Quando exibir o histórico de saques após a pergunta \"Quer ver seu histórico de saques?\", mostre o histórico COMPLETO diretamente — sem passar pela pergunta \"Quer ver o *último* ou o *histórico*?\".\n\nExemplo de resposta quando o usuário pede para sacar via WhatsApp:\nSaques só podem ser feitos pelo aplicativo Purg.\n\nQuer ver seu histórico de saques?\n\n---\n\nESCOPO: Você responde exclusivamente sobre a Purg e educação financeira básica (juros, juros compostos, risco e patrimônio — sempre com exemplos simples e conectados ao contexto do usuário). Qualquer outro assunto deve ser gentilmente recusado: \"Só posso te ajudar com a Purg e educação financeira básica.\"\n\nPerguntas genéricas como \"como funciona?\" devem sempre ser interpretadas e respondidas com base nas funcionalidades da Purg. Nunca invente funcionalidades que não existam.\n\n---\n\nCOMO A PURG FUNCIONA:\n\n1. OBJETIVO\nAntes de qualquer transferência, o usuário cria um objetivo respondendo 3 perguntas: qual valor quer alcançar (mínimo R$ 200,00), quanto tem para o primeiro aporte, e em quanto tempo quer chegar lá. A partir disso, a Purg calcula automaticamente a meta mensal: (valor do objetivo - primeiro aporte) ÷ número de meses = meta mensal. Esse é o valor que o usuário precisará aportar todo mês para atingir o objetivo.\n\n2. DEPÓSITOS\nOs depósitos são feitos exclusivamente via Pix, a partir de uma conta bancária vinculada ao mesmo CPF cadastrado na Purg. Depósitos pendentes podem ser cancelados pelo próprio usuário. O botão de depósito sugere automaticamente o valor da próxima meta mensal para facilitar.\n\n3. SAQUES\nPara sacar, o usuário precisa ter uma chave Pix cadastrada (pode ser CPF, e-mail, celular ou chave aleatória) e informar a senha de negociação — uma senha de 4 dígitos criada por ele mesmo no app. O saque é creditado na conta vinculada em até 1 dia útil. Não é possível sacar mais do que o saldo disponível.\n\n4. SENHA DE NEGOCIAÇÃO\nÉ uma senha numérica de 4 dígitos criada pelo usuário. Ela é obrigatória para realizar saques e alterar informações sensíveis do perfil. Regras: exatamente 4 dígitos, não pode ter todos iguais (ex: 1111) e não pode ter o mesmo dígito repetido 3 vezes seguidas (ex: 1333).\n\n5. PINS\nO dinheiro depositado é investido em Pins. Um Pin é a unidade de investimento da Purg, com valor nominal de R$ 0,01 cada. Cada Pin tem um nível de risco e uma data de vencimento, e os juros variam conforme o risco. A Purg faz a alocação dos Pins automaticamente — o usuário não escolhe onde seu dinheiro é investido.\n\n6. PONTUAÇÃO, LIGA E RANKING\nCada meta mensal concluída ou aporte inicial equivale a 40 pontos. Metas em andamento acumulam pontos proporcionais ao progresso. Os pontos determinam a liga do usuário — quanto mais pontos, maior a liga. O ranking permite comparar a evolução com outros usuários, mas nunca exibe valores financeiros — apenas o progresso nas metas. Ninguém no ranking sabe quanto dinheiro você ou outra pessoa tem.\n\n7. PERFIL E APELIDO\nO usuário escolhe um apelido (que aparece no ranking) e pode personalizar seu avatar — são 13 opções disponíveis. O apelido não pode conter partes do nome real. É possível cadastrar até 4 tipos de chave Pix no perfil: CPF, e-mail, celular e chave aleatória.\n\n8. MODO FAMÍLIA\nUm guardião pode gerenciar a conta de um dependente menor de idade. O guardião envia um convite, o dependente aceita, e o guardião passa a acompanhar e operar a conta do dependente pelo app. Menores de idade têm restrições de uso definidas pelo guardião.\n\n9. INDICAÇÃO\nO usuário pode convidar outras pessoas para a Purg através da área de indicação no app.\n\n10. AUTENTICAÇÃO\nO login pode ser feito com e-mail e senha ou com biometria (como impressão digital ou reconhecimento facial), disponível nos dispositivos que suportam essa tecnologia.\n\n---\n\nEDUCAÇÃO FINANCEIRA:\nFale sobre juros simples, juros compostos, risco e patrimônio — sempre com exemplos do dia a dia e conectados ao contexto de quem está começando. Nunca use termos técnicos sem explicar antes de forma simples.\n\n---\n\nDADOS DO USUÁRIO:\nA cada mensagem você recebe um bloco [Dados do usuario: ...] com as informações atuais da conta: apelido, total investido, objetivos com progresso das metas, últimos depósitos e saques, liga, posição no ranking, pontuação e rendimentos mensais. Use esses dados para responder perguntas diretas sobre a conta. Para respostas curtas ('sim', 'não', etc.), ignore esse bloco e use apenas o histórico da conversa. Nunca diga que não tem acesso às informações — você as tem em cada mensagem. Nunca mencione saldo disponível."
        }
      },
      "id": "node-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        680,
        340
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "node-gemini",
      "name": "Google Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        540
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vW6hLLZSK4uh0bxJ",
          "name": "Google Gemini - Purg"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "node-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-no-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        920,
        340
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "let channel = 'app';\ntry {\n  const wa = $('Extrair Dados WA').all();\n  if (wa && wa.length > 0 && wa[0].json && wa[0].json.phone) channel = 'wa';\n} catch(e) {}\nconst input = $input.first().json;\nreturn [{ json: { ...input, channel } }];"
      },
      "id": "node-ch-detect",
      "name": "Detectar Canal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-is-wa",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "wa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-is-wa",
      "name": "É WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Extrair Dados WA').first().json.remoteJid, text: $json.output } }}",
        "options": {}
      },
      "id": "node-wa-ok-send",
      "name": "Enviar Resposta WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field-response",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "field-session",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "node-set-success",
      "name": "Formatar Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        340
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "let channel = 'app';\ntry {\n  const wa = $('Extrair Dados WA').all();\n  if (wa && wa.length > 0 && wa[0].json && wa[0].json.phone) channel = 'wa';\n} catch(e) {}\nconst input = $input.first().json;\nreturn [{ json: { ...input, channel } }];"
      },
      "id": "node-ch-detect-err",
      "name": "Detectar Canal Erro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-is-wa-err",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "wa",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-is-wa-err",
      "name": "É WhatsApp Erro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Extrair Dados WA').first().json.remoteJid, text: 'Ops! Tive um probleminha aqui. Tente novamente em instantes.' } }}",
        "options": {}
      },
      "id": "node-wa-err-send",
      "name": "Enviar Erro WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-error",
              "name": "response",
              "value": "Ops! Tive um probleminha aqui. Tente novamente em instantes.",
              "type": "string"
            },
            {
              "id": "field-session-err",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-error",
      "name": "Formatar Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1780,
        340
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "purg-chat-wa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-wa-webhook",
      "name": "Webhook WA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        720
      ],
      "webhookId": "purg-chat-wa-webhook"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const body = $input.first().json.body;\n\nif (!body || body.event !== 'messages.upsert') return [];\n\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nif (key.fromMe === true) return [];\nconst textContent = msg.conversation || (msg.extendedTextMessage && msg.extendedTextMessage.text) || null;\nif (!textContent) return [];\nif (key.remoteJid && key.remoteJid.endsWith('@g.us')) return [];\n\nreturn [{ json: {\n  phone: key.remoteJid.replace('@s.whatsapp.net', '').replace(/^55/, ''),\n  remoteJid: key.remoteJid,\n  text: textContent\n} }];"
      },
      "id": "node-wa-filter",
      "name": "Filtrar Mensagem WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        430,
        720
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const data = $input.first().json;\nconst phone = data.phone;\nconst now = new Date();\nconst ONE_HOUR = 60 * 60 * 1000;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\n\nconst existing = sessions['wa_' + phone];\nconst isExpired = !existing || (now - new Date(existing.lastMessageAt)) > ONE_HOUR;\n\nlet sessionSuffix;\nif (isExpired) {\n  sessionSuffix = Math.floor(now.getTime() / ONE_HOUR) + '_' + Math.random().toString(36).slice(2, 6);\n  sessions['wa_' + phone] = { lastMessageAt: now.toISOString(), sessionSuffix: sessionSuffix };\n} else {\n  sessionSuffix = existing.sessionSuffix;\n  sessions['wa_' + phone].lastMessageAt = now.toISOString();\n}\n\nstaticData.waSessions = sessions;\n\nconst sessionId = 'wa_' + phone + '_' + sessionSuffix;\nconst isNewSession = isExpired;\n\nreturn [{ json: {\n  phone,\n  remoteJid: data.remoteJid,\n  text: data.text,\n  sessionId,\n  isNewSession\n} }];"
      },
      "id": "node-wa-extract",
      "name": "Extrair Dados WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        720
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://jinx.purg.com.br/api/webhook/nami/usuarios/por-celular?celular=' + $json.phone }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "node-wa-lookup",
      "name": "Buscar Usuário por Celular",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        870,
        720
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-usuario-found",
              "leftValue": "={{ $json.usuario_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-wa-check",
      "name": "Usuário Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1090,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-nova-sessao",
              "leftValue": "={{ $('Extrair Dados WA').first().json.isNewSession }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-wa-session",
      "name": "É Nova Sessão?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1310,
        620
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://jinx.purg.com.br/api/webhook/usuario/' + $json.usuario_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "node-wa-fetch",
      "name": "Buscar Dados Usuário WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1530,
        540
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const waData = $('Extrair Dados WA').first().json;\nconst phone = waData.phone;\nconst sessionId = waData.sessionId;\nconst data = $input.first().json;\nconst u = data.usuario || {};\nconst objetivos = data.objetivos || [];\nconst depositos = data.depositos || [];\nconst saques = data.saques || [];\nconst rendimentos = data.rendimentos_mensais || [];\n\nfunction brl(v) {\n  const parts = parseFloat(v || 0).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\nfunction fmtDate(d) {\n  try { return new Date(d).toLocaleDateString('pt-BR'); } catch(e) { return String(d); }\n}\n\nlet objLines = '';\nif (objetivos.length === 0) {\n  objLines = 'Nenhum objetivo criado ainda.';\n} else {\n  objLines = objetivos.map(function(obj) {\n    const metas = obj.metas || [];\n    const metasConcluidas = metas.filter(function(m) { return m.objetivo_completo; }).length;\n    const proximaMeta = metas.find(function(m) { return !m.objetivo_completo; });\n    let t = '- ' + obj.objetivo_descricao + ' | ' + metasConcluidas + '/' + metas.length + ' metas concluídas';\n    if (!obj.primeiro_aporte_feito) {\n      t += ' | Aguardando primeiro aporte';\n    } else if (proximaMeta) {\n      t += ' | Próxima meta: ' + brl(proximaMeta.objetivo_investir) + ' até ' + fmtDate(proximaMeta.data_limite) + ' (investido: ' + brl(proximaMeta.saldo_alocado) + ')';\n    } else {\n      t += ' | Todas as metas concluídas!';\n    }\n    return t;\n  }).join('\\n');\n}\n\nconst ultimosDepositos = depositos.map(function(d) {\n  return '- ' + fmtDate(d.data_criacao) + ': ' + brl(d.valor_deposito) + ' (' + d.status_deposito + ')';\n}).join('\\n') || 'Nenhum depósito recente.';\n\nconst ultimosSaques = saques.map(function(s) {\n  return '- ' + fmtDate(s.data_criacao) + ': ' + brl(s.valor_saque) + ' (' + s.status_saque + ')';\n}).join('\\n') || 'Nenhum saque recente.';\n\n\nconst mesesPT = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];\nconst rendimentosStr = rendimentos.length > 0\n  ? rendimentos.map(function(r) {\n      const parts = r.mes.split('-');\n      const mesNome = mesesPT[parseInt(parts[1], 10) - 1];\n      return '- ' + mesNome + '/' + parts[0] + ': ' + brl(r.rendimento_mensal);\n    }).join('\\n')\n  : 'Nenhum rendimento registrado ainda.';\nconst totalRendimento = rendimentos.reduce(function(acc, r) { return acc + parseFloat(r.rendimento_mensal || 0); }, 0);\nconst totalRendimentoStr = rendimentos.length > 0 ? '\\nTotal acumulado: ' + brl(totalRendimento) : '';\n\nconst apelido = u.apelido || 'usuário';\nconst contexto = 'Apelido: ' + apelido + '\\n' +\n  'Liga: ' + (u.liga || '-') + ' | Posição: #' + (u.posicao || '-') + ' | Pontos: ' + (u.pontos || 0) + '\\n' +\n  'Total investido: ' + brl(u.investido) + '\\n\\n' +\n  'Objetivos:\\n' + objLines + '\\n\\n' +\n  'Últimos depósitos:\\n' + ultimosDepositos + '\\n\\n' +\n  'Últimos saques:\\n' + ultimosSaques + '\\n\\n' +\n  'Rendimentos mensais:\\n' + rendimentosStr + totalRendimentoStr;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\nif (sessions['wa_' + phone]) {\n  sessions['wa_' + phone].contexto = contexto;\n  staticData.waSessions = sessions;\n}\n\nconst retornando = objetivos.length > 0 || depositos.length > 0;\nconst saudacao = retornando\n  ? 'Oi ' + apelido + ', que bom que voltou!\\n\\nJá sabe sobre o que quer falar?\\n\\nSe não souber, me manda *dicas* que eu te ajudo!'\n  : 'Oi ' + apelido + '! Sou a Purg, bem-vindo!\\n\\nJá sabe sobre o que quer falar?\\n\\nSe não souber, me manda *dicas* que eu te ajudo!';\n\n\n// Salvar usuarioId e valor da próxima meta para fluxo de depósito\ntry {\n  const uid = $('Buscar Usuário por Celular').first().json.usuario_id;\n  if (sessions['wa_' + phone] && uid) {\n    sessions['wa_' + phone].usuarioId = uid;\n    // Valor restante para atingir a próxima meta\n    if (objetivos.length > 0) {\n      const obj = objetivos[0];\n      const pendentes = (obj.metas || []).filter(function(m) { return !m.objetivo_completo; });\n      if (pendentes.length > 0 && obj.primeiro_aporte_feito) {\n        const pm = pendentes[0];\n        const resto = parseFloat(pm.objetivo_investir) - parseFloat(pm.saldo_alocado);\n        if (resto > 0) sessions['wa_' + phone].proximaMetaValor = resto.toFixed(2);\n      }\n    }\n    staticData.waSessions = sessions;\n  }\n} catch(e) {}\n\nreturn [{ json: { output: saudacao, sessionId } }];"
      },
      "id": "node-wa-ctx",
      "name": "Montar Contexto WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        540
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const waData = $('Extrair Dados WA').first().json;\nconst phone = waData.phone;\nconst sessionId = waData.sessionId;\nconst text = waData.text;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\nconst session = sessions['wa_' + phone];\n\n// Salvar usuarioId para o fluxo de depósito\ntry {\n  const uid = $('Buscar Usuário por Celular').first().json.usuario_id;\n  if (session && uid) { session.usuarioId = uid; staticData.waSessions = sessions; }\n} catch(e) {}\n\nconst contexto = session && session.contexto ? session.contexto : '';\nconst message = contexto\n  ? '[Dados do usuario:\\n' + contexto + ']\\n\\n' + text\n  : text;\n\nreturn [{ json: { body: { message, sessionId } } }];\n"
      },
      "id": "node-wa-set-msg",
      "name": "Preparar Mensagem WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1530,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Extrair Dados WA').first().json.remoteJid, text: \"👋 Oi! Eu sou a Purg, muito prazer!\\n\\nEu vi aqui e não encontrei nenhuma conta Purg vinculada a esse número.\\n\\nPara criarmos nosso objetivo e começarmos a nossa jornada se cadastre em:\\n\\nwww.purg.com.br/cadastro\" } }}",
        "options": {}
      },
      "id": "node-wa-nf-send",
      "name": "Enviar Não Cadastrado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1310,
        840
      ],
      "onError": "continueErrorOutput"
    },
    {
      "id": "node-fmt-wa",
      "name": "Formatar WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        220
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nlet text = (item.output || '').trim();\n\n// Separar frases em parágrafos\ntext = text.replace(/([.!?])\\s+([A-ZÀ-Ü])/g, '$1\\n\\n$2');\n\n// Garantir que termina com pergunta\nif (!text.trim().endsWith('?')) {\n  const lower = text.toLowerCase();\n  const isHistorico = (text.match(/^- /gm) || []).length >= 2;\n  const hasDepositAmount = /depositar r\\$\\s*[\\d.,]+/i.test(text) || /precisa depositar/i.test(text);\n  let pergunta;\n  if (hasDepositAmount) {\n    pergunta = 'J\\u00e1 quer fazer o dep\\u00f3sito?';\n  } else if (isHistorico) {\n    if (lower.includes('dep\\u00f3sito') || lower.includes('deposito')) {\n      pergunta = 'Quer ver o hist\\u00f3rico de saques?';\n    } else if (lower.includes('saque')) {\n      pergunta = 'Quer ver o hist\\u00f3rico de dep\\u00f3sitos?';\n    } else if (lower.includes('meta') || lower.includes('objetivo')) {\n      pergunta = 'Quer ver seus \\u00faltimos dep\\u00f3sitos?';\n    } else {\n      pergunta = 'Posso te ajudar com mais alguma coisa sobre a sua conta?';\n    }\n  } else {\n    if (lower.includes('meta') || lower.includes('objetivo')) {\n      pergunta = 'Quer ver o progresso das outras metas?';\n    } else if (lower.includes('dep\\u00f3sito') || lower.includes('deposito')) {\n      pergunta = 'Quer ver o hist\\u00f3rico de dep\\u00f3sitos?';\n    } else if (lower.includes('saque')) {\n      pergunta = 'Quer ver o hist\\u00f3rico de saques?';\n    } else if (lower.includes('rank') || lower.includes('liga') || lower.includes('ponto')) {\n      pergunta = 'Quer ver seu total investido?';\n    } else if (lower.includes('invest') || lower.includes('patrim')) {\n      pergunta = 'Quer ver o progresso das suas metas?';\n    } else {\n      pergunta = 'Posso te ajudar com mais alguma coisa sobre a sua conta?';\n    }\n  }\n  text = text.trim() + '\\n\\n' + pergunta;\n}\n\n// Detectar se a resposta final pede depósito → ativar fluxo\nif (/j\\u00e1 quer fazer o dep\\u00f3sito\\?/i.test(text) || /quer fazer o dep\\u00f3sito\\?/i.test(text)) {\n  try {\n    const waPhone = $('Extrair Dados WA').first().json.phone;\n    const sd = $getWorkflowStaticData('global');\n    const sess = sd.waSessions || {};\n    if (sess['wa_' + waPhone]) {\n      sess['wa_' + waPhone].depositStep = 'confirm_amount';\n      // Tentar extrair valor do texto\n      const valM = text.match(/depositar R\\$\\s*([\\d.,]+)/i);\n      if (valM) {\n        sess['wa_' + waPhone].depositValue = valM[1].replace(/\\./g,'').replace(',','.');\n      } else if (sess['wa_' + waPhone].proximaMetaValor) {\n        sess['wa_' + waPhone].depositValue = sess['wa_' + waPhone].proximaMetaValor;\n      }\n      sd.waSessions = sess;\n    }\n  } catch(e) {}\n}\n\nreturn [{ json: { output: text } }];\n"
      }
    },
    {
      "id": "node-wa-verif-dep",
      "name": "Verificar Depósito WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1730,
        720
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const waData = $('Extrair Dados WA').first().json;\nconst phone = waData.phone;\nconst text = waData.text.trim();\n\n// Pass-through do body para o AI Agent usar quando isDeposito = false\nconst prepBody = $('Preparar Mensagem WA').first().json.body;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\nconst session = sessions['wa_' + phone] || {};\nconst depositStep = session.depositStep || null;\n\nif (!depositStep) {\n  return [{ json: { isDeposito: false, body: prepBody } }];\n}\n\nreturn [{ json: {\n  isDeposito: true,\n  body: prepBody,\n  depositStep,\n  depositValue: session.depositValue || null,\n  usuarioId: session.usuarioId || null,\n  phone,\n  text,\n  sessionId: waData.sessionId\n} }];\n"
      }
    },
    {
      "id": "node-wa-is-dep",
      "name": "É Depósito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1930,
        720
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-is-dep",
              "leftValue": "={{ $json.isDeposito }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-wa-logica-dep",
      "name": "Lógica Depósito WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2130,
        620
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const info = $input.first().json;\nconst { depositStep, depositValue, phone, usuarioId, text, sessionId } = info;\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\n\nfunction brl(v) {\n  const parts = parseFloat(v || 0).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\n\nconst norm = text.trim().toLowerCase();\nconst isSim    = /^(1|sim|yes|quero|pode|claro|ok|confirmar?|fa[cç]a?)(\\s|$)/i.test(norm);\nconst isNao    = /^(2|outro|outra|diferente|muda)/.test(norm);\nconst isCancel = /^(3|cancel|cancelar|sair|parar|desistir|n[aã]o|nao)/.test(norm);\n\nconst confirmMsg = 'Quer fazer o depósito de ' + brl(depositValue) + '?\\n\\nDigite:\\n\\n*1* - para confirmar\\n*2* - para escolher outro valor\\n*3* - para cancelar';\n\nlet output = '';\nlet callPix = false;\nlet pixValue = null;\n\nif (depositStep === 'confirm_amount') {\n  if (isSim) {\n    callPix = true;\n    pixValue = depositValue;\n    delete sessions['wa_' + phone].depositStep;\n    delete sessions['wa_' + phone].depositValue;\n  } else if (isCancel) {\n    delete sessions['wa_' + phone].depositStep;\n    delete sessions['wa_' + phone].depositValue;\n    output = 'Tudo bem, cancelei o depósito.\\n\\nComo mais posso te ajudar?\\n\\n- Seus *objetivos* \\n- Suas *metas*\\n- Seus *depósitos*\\n- Seus *saques*\\n- Sua posição no *ranking*\\n- Sua *pontuação*\\n- Quanto você já tem *investido*\\n- Qual o seu *rendimento*\\n- Fazer um depósito *Pix*\\n\\nQual desses você quer saber?';\n  } else if (isNao) {\n    sessions['wa_' + phone].depositStep = 'ask_custom';\n    output = 'Tudo bem!\\n\\nQual valor você quer depositar?';\n  } else {\n    output = confirmMsg;\n  }\n} else if (depositStep === 'ask_custom') {\n  if (isCancel) {\n    delete sessions['wa_' + phone].depositStep;\n    delete sessions['wa_' + phone].depositValue;\n    output = 'Tudo bem, cancelei o depósito.\\n\\nComo mais posso te ajudar?\\n\\n- Seus *objetivos* \\n- Suas *metas*\\n- Seus *depósitos*\\n- Seus *saques*\\n- Sua posição no *ranking*\\n- Sua *pontuação*\\n- Quanto você já tem *investido*\\n- Qual o seu *rendimento*\\n- Fazer um depósito *Pix*\\n\\nQual desses você quer saber?';\n  } else {\n    const clean = text.replace(/r\\$\\s*/i, '').replace(/\\./g, '').replace(',', '.');\n    const match = clean.match(/(\\d+(?:\\.\\d{1,2})?)/);\n    if (match && parseFloat(match[1]) >= 1) {\n      pixValue = parseFloat(match[1]).toFixed(2);\n      callPix = true;\n      delete sessions['wa_' + phone].depositStep;\n      delete sessions['wa_' + phone].depositValue;\n    } else {\n      output = 'Não entendi o valor.\\n\\nMe diz quanto quer depositar. Exemplo: 50,00\\n\\nOu digite *3* para cancelar.';\n    }\n  }\n}\n\nstaticData.waSessions = sessions;\n\nif (callPix) {\n  return [{ json: { callPix: true, pixValue, usuarioId, phone, sessionId } }];\n}\nreturn [{ json: { callPix: false, output, phone, sessionId } }];\n"
      }
    },
    {
      "id": "node-wa-is-pix",
      "name": "É Chamar Pix?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2330,
        620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-call-pix",
              "leftValue": "={{ $json.callPix }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-wa-criar-pix",
      "name": "Criar Pix WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2530,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://jinx.purg.com.br/api/webhook/nami/usuarios/' + $json.usuarioId + '/pix/cobrar' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"valor\": $json.pixValue } }}",
        "options": {}
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "node-wa-fmt-pix",
      "name": "Formatar Pix WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2730,
        520
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nconst pix = $input.first().json;\nconst remoteJid = $('Extrair Dados WA').first().json.remoteJid;\n\nif (!pix.pixCopiaECola) {\n  return [{ json: {\n    output: 'Ops! Não consegui gerar o Pix agora.\\n\\nTente novamente em instantes.',\n    pixUrl: null, remoteJid\n  } }];\n}\n\nconst brl = (v) => {\n  const p = parseFloat(v).toFixed(2).split('.');\n  p[0] = p[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + p[0] + ',' + p[1];\n};\n\nconst valorStr = $('Lógica Depósito WA').first().json.pixValue || pix.pixValue || pix.valor || '0';\nconst output = 'Depósito de ' + brl(valorStr) + ' gerado! 💸\\n\\nAcesse o link abaixo para copiar o código Pix:';\n\nreturn [{ json: {\n  output,\n  pixCode: pix.pixCopiaECola,\n  valor: valorStr,\n  remoteJid\n} }];\n"
      }
    },
    {
      "id": "node-wa-enviar-codigo-pix",
      "name": "Enviar Link Pix WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2930,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": $('Montar Msg Pix').first().json.remoteJid, \"text\": $('Montar Msg Pix').first().json.pixUrl } }}",
        "options": {}
      }
    },
    {
      "id": "node-wa-enviar-aviso-pix",
      "name": "Enviar Aviso Pix WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2730,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Montar Msg Pix').first().json.remoteJid, text: $('Montar Msg Pix').first().json.output } }}",
        "options": {}
      }
    },
    {
      "id": "node-wa-registrar-token",
      "name": "Registrar Token Pix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        700
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://purg.com.br/pix?action=reg&code=' + encodeURIComponent($json.pixCode) + '&valor=' + encodeURIComponent($json.valor) }}",
        "options": {}
      }
    },
    {
      "id": "node-wa-montar-msg-pix",
      "name": "Montar Msg Pix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        700
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nconst regResp = $input.first().json;\nconst fmt = $('Formatar Pix WA').first().json;\nreturn [{ json: {\n  output: fmt.output,\n  pixUrl: regResp.url,\n  remoteJid: fmt.remoteJid\n} }];\n"
      }
    },
    {
      "id": "node-wa-atualizar-pix",
      "name": "Atualizar Dados Pós-Pix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        700
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://jinx.purg.com.br/api/webhook/usuario/' + $('Lógica Depósito WA').first().json.usuarioId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-wa-salvar-ctx-pix",
      "name": "Salvar Contexto Pós-Pix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        700
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const phone = $('Extrair Dados WA').first().json.phone;\nconst data = $input.first().json;\nconst u = data.usuario || {};\nconst objetivos = data.objetivos || [];\nconst depositos = data.depositos || [];\nconst saques = data.saques || [];\nconst rendimentos = data.rendimentos_mensais || [];\n\nfunction brl(v) {\n  const parts = parseFloat(v || 0).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\nfunction fmtDate(d) {\n  try { return new Date(d).toLocaleDateString('pt-BR'); } catch(e) { return String(d); }\n}\n\nlet objLines = '';\nif (objetivos.length === 0) {\n  objLines = 'Nenhum objetivo criado ainda.';\n} else {\n  objLines = objetivos.map(function(obj) {\n    const metas = obj.metas || [];\n    const metasConcluidas = metas.filter(function(m) { return m.objetivo_completo; }).length;\n    const proximaMeta = metas.find(function(m) { return !m.objetivo_completo; });\n    let t = '- ' + obj.objetivo_descricao + ' | ' + metasConcluidas + '/' + metas.length + ' metas concluídas';\n    if (!obj.primeiro_aporte_feito) {\n      t += ' | Aguardando primeiro aporte';\n    } else if (proximaMeta) {\n      t += ' | Próxima meta: ' + brl(proximaMeta.objetivo_investir) + ' até ' + fmtDate(proximaMeta.data_limite) + ' (investido: ' + brl(proximaMeta.saldo_alocado) + ')';\n    } else {\n      t += ' | Todas as metas concluídas!';\n    }\n    return t;\n  }).join('\\n');\n}\n\nconst ultimosDepositos = depositos.map(function(d) {\n  return '- ' + fmtDate(d.data_criacao) + ': ' + brl(d.valor_deposito) + ' (' + d.status_deposito + ')';\n}).join('\\n') || 'Nenhum depósito recente.';\n\nconst ultimosSaques = saques.map(function(s) {\n  return '- ' + fmtDate(s.data_criacao) + ': ' + brl(s.valor_saque) + ' (' + s.status_saque + ')';\n}).join('\\n') || 'Nenhum saque recente.';\n\n\nconst mesesPT = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];\nconst rendimentosStr = rendimentos.length > 0\n  ? rendimentos.map(function(r) {\n      const parts = r.mes.split('-');\n      const mesNome = mesesPT[parseInt(parts[1], 10) - 1];\n      return '- ' + mesNome + '/' + parts[0] + ': ' + brl(r.rendimento_mensal);\n    }).join('\\n')\n  : 'Nenhum rendimento registrado ainda.';\nconst totalRendimento = rendimentos.reduce(function(acc, r) { return acc + parseFloat(r.rendimento_mensal || 0); }, 0);\nconst totalRendimentoStr = rendimentos.length > 0 ? '\\nTotal acumulado: ' + brl(totalRendimento) : '';\n\nconst novoContexto = 'Apelido: ' + (u.apelido || 'usuário') + '\\n' +\n  'Liga: ' + (u.liga || '-') + ' | Posição: #' + (u.posicao || '-') + ' | Pontos: ' + (u.pontos || 0) + '\\n' +\n  'Total investido: ' + brl(u.investido) + '\\n\\n' +\n  'Objetivos:\\n' + objLines + '\\n\\n' +\n  'Últimos depósitos:\\n' + ultimosDepositos + '\\n\\n' +\n  'Últimos saques:\\n' + ultimosSaques + '\\n\\n' +\n  'Rendimentos mensais:\\n' + rendimentosStr + totalRendimentoStr;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\nif (sessions['wa_' + phone]) {\n  sessions['wa_' + phone].contexto = novoContexto;\n  try {\n    if (objetivos.length > 0) {\n      const obj = objetivos[0];\n      const pendentes = (obj.metas || []).filter(function(m) { return !m.objetivo_completo; });\n      if (pendentes.length > 0 && obj.primeiro_aporte_feito) {\n        const pm = pendentes[0];\n        const resto = parseFloat(pm.objetivo_investir) - parseFloat(pm.saldo_alocado);\n        if (resto > 0) sessions['wa_' + phone].proximaMetaValor = resto.toFixed(2);\n        else delete sessions['wa_' + phone].proximaMetaValor;\n      } else {\n        delete sessions['wa_' + phone].proximaMetaValor;\n      }\n    }\n  } catch(e) {}\n  staticData.waSessions = sessions;\n}\n\nconst msgPix = $('Montar Msg Pix').first().json;\nreturn [{ json: { output: msgPix.output, pixUrl: msgPix.pixUrl, remoteJid: msgPix.remoteJid } }];"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "É iniciar sessão?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É iniciar sessão?": {
      "main": [
        [
          {
            "node": "Buscar Dados do Usuário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados do Usuário": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Sucesso?": {
      "main": [
        [
          {
            "node": "Detectar Canal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Canal Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Canal": {
      "main": [
        [
          {
            "node": "É WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É WhatsApp?": {
      "main": [
        [
          {
            "node": "Formatar WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Canal Erro": {
      "main": [
        [
          {
            "node": "É WhatsApp Erro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É WhatsApp Erro?": {
      "main": [
        [
          {
            "node": "Enviar Erro WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Erro": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook WA": {
      "main": [
        [
          {
            "node": "Filtrar Mensagem WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagem WA": {
      "main": [
        [
          {
            "node": "Extrair Dados WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados WA": {
      "main": [
        [
          {
            "node": "Buscar Usuário por Celular",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuário por Celular": {
      "main": [
        [
          {
            "node": "Usuário Encontrado?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Não Cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuário Encontrado?": {
      "main": [
        [
          {
            "node": "É Nova Sessão?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Não Cadastrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Nova Sessão?": {
      "main": [
        [
          {
            "node": "Buscar Dados Usuário WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Mensagem WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados Usuário WA": {
      "main": [
        [
          {
            "node": "Montar Contexto WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto WA": {
      "main": [
        [
          {
            "node": "Enviar Resposta WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem WA": {
      "main": [
        [
          {
            "node": "Verificar Depósito WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta WA": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Erro WA": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Não Cadastrado": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar WA": {
      "main": [
        [
          {
            "node": "Enviar Resposta WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Depósito WA": {
      "main": [
        [
          {
            "node": "É Depósito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Depósito?": {
      "main": [
        [
          {
            "node": "Lógica Depósito WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica Depósito WA": {
      "main": [
        [
          {
            "node": "É Chamar Pix?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Chamar Pix?": {
      "main": [
        [
          {
            "node": "Criar Pix WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Resposta WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Pix WA": {
      "main": [
        [
          {
            "node": "Formatar Pix WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Pix WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Pix WA": {
      "main": [
        [
          {
            "node": "Registrar Token Pix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Aviso Pix WA": {
      "main": [
        [
          {
            "node": "Enviar Link Pix WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Link Pix WA": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Token Pix": {
      "main": [
        [
          {
            "node": "Montar Msg Pix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Msg Pix": {
      "main": [
        [
          {
            "node": "Atualizar Dados Pós-Pix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Dados Pós-Pix": {
      "main": [
        [
          {
            "node": "Salvar Contexto Pós-Pix",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Aviso Pix WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Contexto Pós-Pix": {
      "main": [
        [
          {
            "node": "Enviar Aviso Pix WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "waSessions": {},
    "global": {
      "waSessions": {}
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "d4e9a249-90f7-4dfd-9007-901c710a4b2f",
  "activeVersionId": "d4e9a249-90f7-4dfd-9007-901c710a4b2f",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-04-28T00:54:08.261Z",
      "createdAt": "2026-04-28T00:54:08.261Z",
      "role": "workflow:owner",
      "workflowId": "0wpPd0SPkQ8y3GUx",
      "projectId": "l16jDOjXVVpFFpWJ"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-16T21:29:45.293Z",
    "createdAt": "2026-05-16T21:29:45.293Z",
    "versionId": "d4e9a249-90f7-4dfd-9007-901c710a4b2f",
    "workflowId": "0wpPd0SPkQ8y3GUx",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "purg-chat",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "node-webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          208,
          304
        ],
        "webhookId": "purg-chat-webhook"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-iniciar-sessao",
                "leftValue": "={{ $json.body.action }}",
                "rightValue": "iniciar_sessao",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-check-action",
        "name": "É iniciar sessão?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          430,
          304
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://jinx.purg.com.br/api/webhook/usuario/' + $('Webhook').first().json.body.usuario_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "node-fetch-usuario",
        "name": "Buscar Dados do Usuário",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          640,
          120
        ]
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "const webhook = $('Webhook').first().json;\nconst sessionId = webhook.body.sessionId;\nconst data = $input.first().json;\nconst u = data.usuario || {};\nconst objetivos = data.objetivos || [];\nconst depositos = data.depositos || [];\nconst saques = data.saques || [];\nconst rendimentos = data.rendimentos_mensais || [];\n\nfunction brl(v) {\n  const parts = parseFloat(v || 0).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\n\nfunction fmtDate(d) {\n  try { return new Date(d).toLocaleDateString('pt-BR'); } catch(e) { return String(d); }\n}\n\nlet objLines = '';\nif (objetivos.length === 0) {\n  objLines = 'Nenhum objetivo criado ainda.';\n} else {\n  objLines = objetivos.map(function(obj) {\n    const metas = obj.metas || [];\n    const metasConcluidas = metas.filter(function(m) { return m.objetivo_completo; }).length;\n    const proximaMeta = metas.find(function(m) { return !m.objetivo_completo; });\n    let t = '- ' + obj.objetivo_descricao + ' | ' + metasConcluidas + '/' + metas.length + ' metas concluídas';\n    if (!obj.primeiro_aporte_feito) {\n      t += ' | Aguardando primeiro aporte';\n    } else if (proximaMeta) {\n      t += ' | Próxima meta: ' + brl(proximaMeta.objetivo_investir) + ' até ' + fmtDate(proximaMeta.data_limite) + ' (investido: ' + brl(proximaMeta.saldo_alocado) + ')';\n    } else {\n      t += ' | Todas as metas concluídas!';\n    }\n    return t;\n  }).join('\\n');\n}\n\nconst ultimosDepositos = depositos.map(function(d) {\n  return '- ' + fmtDate(d.data_criacao) + ': ' + brl(d.valor_deposito) + ' (' + d.status_deposito + ')';\n}).join('\\n') || 'Nenhum depósito recente.';\n\nconst ultimosSaques = saques.map(function(s) {\n  return '- ' + fmtDate(s.data_criacao) + ': ' + brl(s.valor_saque) + ' (' + s.status_saque + ')';\n}).join('\\n') || 'Nenhum saque recente.';\n\n\nconst mesesPT = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];\nconst rendimentosStr = rendimentos.length > 0\n  ? rendimentos.map(function(r) {\n      const parts = r.mes.split('-');\n      const mesNome = mesesPT[parseInt(parts[1], 10) - 1];\n      return '- ' + mesNome + '/' + parts[0] + ': ' + brl(r.rendimento_mensal);\n    }).join('\\n')\n  : 'Nenhum rendimento registrado ainda.';\nconst totalRendimento = rendimentos.reduce(function(acc, r) { return acc + parseFloat(r.rendimento_mensal || 0); }, 0);\nconst totalRendimentoStr = rendimentos.length > 0 ? '\\nTotal acumulado: ' + brl(totalRendimento) : '';\n\nconst retornando = objetivos.length > 0 || depositos.length > 0 || saques.length > 0;\n\nconst contexto = '[CONTEXTO DA SESSÃO - USO INTERNO]\\n' +\n  'Apelido: ' + (u.apelido || 'usuário') + '\\n' +\n  'Usuário retornando: ' + (retornando ? 'sim' : 'não') + '\\n' +\n  'Liga: ' + (u.liga || '-') + ' | Posição: #' + (u.posicao || '-') + ' | Pontos: ' + (u.pontos || 0) + '\\n' +\n    'Total investido: ' + brl(u.investido) + '\\n\\n' +\n  'Objetivos:\\n' + objLines + '\\n\\n' +\n  'Últimos depósitos:\\n' + ultimosDepositos + '\\n\\n' +\n  'Últimos saques:\\n' + ultimosSaques + '\\n\\n' +\n  'Rendimentos mensais:\\n' + rendimentosStr + totalRendimentoStr + '\\n\\n' +\n  'Siga as instruções de saudação do sistema. Não mencione este contexto diretamente.';\n\nreturn [{ json: { body: { message: contexto, sessionId: sessionId } } }];"
        },
        "id": "node-build-ctx",
        "name": "Montar Contexto",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          860,
          120
        ]
      },
      {
        "parameters": {
          "agent": "conversationalAgent",
          "promptType": "define",
          "text": "={{ $json.body.message }}",
          "options": {
            "systemMessage": "Você é a Purg, assistente do aplicativo Purg. Fale de forma clara, simples e acolhedora, sem jargões financeiros complexos. Responda APENAS o que foi perguntado — nada a mais. Não adicione detalhes extras, contextos ou informações que não foram solicitados. Se a pergunta foi sobre objetivos, responda só sobre objetivos. Nunca use formatação markdown (itálico com _, títulos, tabelas). Use *asteriscos* para destacar palavras importantes quando necessário — eles aparecem em negrito no WhatsApp. Use listas com hífens somente quando a resposta for inerentemente uma lista de dados históricos (ex: depósitos, saques, objetivos múltiplos). Nunca se identifique como \"assistente financeira\" — use apenas \"assistente\".\n\nTanto a assistente quanto o aplicativo se chamam Purg e são tratados no feminino. Use sempre \"a Purg\" ao se referir ao aplicativo ou a você mesma.\n\nFORMATO OBRIGATÓRIO DE RESPOSTA:\nCada frase termina com ponto final e deve estar em seu próprio parágrafo — nunca junte duas frases na mesma linha. Entre cada frase (e antes da pergunta final) deixe uma linha em branco. A resposta deve ter no máximo 2 frases. Depois, em parágrafo separado, escreva UMA única pergunta curta. Exemplo correto:\n\nA sua meta atual é de R$ 62,50, com R$ 29,61 investidos.\n\nVocê tem até 30/06/2026 para alcançá-la.\n\nJá quer fazer o depósito?\n\nExemplo ERRADO (nunca faça isso): \"A sua meta atual é de R$ 62,50, com R$ 29,61 investidos. Você tem até 30/06/2026 para alcançá-la.\"\n\nA única exceção ao limite de 2 frases é quando a resposta é uma lista de dados históricos (depósitos, saques, objetivos) — nesse caso liste normalmente, cada item em sua linha, e encerre com a pergunta em parágrafo separado.\n\nPERGUNTA FINAL — REGRA OBRIGATÓRIA:\nA pergunta de encerramento deve ser sempre sobre um dado concreto que você tem do usuário. Use apenas estes temas: total investido, objetivos e progresso das metas, próxima meta e prazo, últimos depósitos, últimos saques, posição no ranking, liga atual, pontuação, rendimentos mensais. Nunca mencione saldo disponível — ele não é relevante para o usuário. Nunca faça perguntas genéricas, educativas ou sobre como a Purg funciona — apenas sobre os dados reais do usuário.\n\nHISTÓRICO — REGRA OBRIGATÓRIA:\nQuando o usuário perguntar sobre algo que tem histórico (depósitos, saques, objetivos, metas), antes de mostrar os dados pergunte sempre: \"Quer ver o *último* ou o *histórico*?\" — e aguarde a resposta. Só exiba os dados depois que o usuário escolher. Aplique essa regra a qualquer assunto que tenha mais de um registro no histórico. Se houver apenas 1 registro, exiba-o diretamente sem perguntar.\n\nAo interpretar a resposta do usuário a essa pergunta, PRIORIDADE MÁXIMA: se a última mensagem sua foi \"Quer ver o *último* ou o *histórico*?\" (ou variação), qualquer resposta com \"historico\", \"histórico\", \"completo\", \"tudo\", \"full\" ou similar DEVE ser tratada como escolha pelo histórico completo — exiba o histórico imediatamente, sem perguntar de novo. Nunca repita a mesma pergunta se o usuário já respondeu com uma dessas palavras.\n\nAPÓS EXIBIR HISTÓRICO — REGRA OBRIGATÓRIA:\nOs dados exibidos são SEMPRE completos — nunca pergunte se há \"depósitos mais antigos\", \"saques mais antigos\" ou qualquer variação disso.\n- Após exibir histórico de depósitos (último ou completo): encerre SEMPRE com \"Quer ver o histórico de saques?\"\n- Após exibir histórico de saques (último ou completo): exiba o menu de opções diretamente, sem perguntar \"Posso te ajudar?\". Use exatamente este formato após a lista de saques:\n\nComo mais posso te ajudar?\n\n- Seus *objetivos* e o progresso das *metas*\n- Sua posição no *ranking*\n- Sua *pontuação*\n- Quanto você já tem *investido*\n- Qual o seu *rendimento*\n- Fazer um depósito *Pix*\n\nQual desses você quer saber?\nQuando o usuário responder \"sim\" (ou variação) a essas perguntas, exiba o histórico solicitado imediatamente usando os dados do bloco [Dados do usuario:].\n\nNOME DO USUÁRIO — REGRA CRÍTICA:\nO apelido do usuário está SEMPRE disponível no bloco [Dados do usuario:] na linha \"Apelido: ...\". Use EXCLUSIVAMENTE esse apelido. NUNCA invente, suponha ou use qualquer outro nome. Se não encontrar o apelido no bloco, use apenas \"você\".\n\nSAUDAÇÃO EM SESSÃO ATIVA:\nQuando o usuário enviar uma saudação ('Oi', 'Olá', 'Bom dia', 'Boa tarde', 'Boa noite') durante uma conversa já em andamento, responda sempre usando o apelido do bloco [Dados do usuario:]: \"Oi {{apelido}}! Como posso te ajudar?\" — substituindo {{apelido}} pelo apelido real. Nunca responda saudações sem usar o apelido.\n\nRESPOSTAS CURTAS — REGRA CRÍTICA:\nQuando o usuário responder com uma palavra curta como \"sim\", \"não\", \"claro\", \"pode\", \"quero\", \"último\", \"completo\", \"histórico\", \"historico\" ou similar:\n1. DESCONSIDERE completamente o bloco [Dados do usuário:] que chega junto com a mensagem.\n2. Consulte EXCLUSIVAMENTE o histórico da conversa para identificar qual foi a última pergunta que você fez.\n3. Responda diretamente com a informação correspondente àquela última pergunta.\nNUNCA responda com saudação para uma resposta curta. NUNCA trate respostas curtas como fora do escopo. NUNCA use os dados do bloco [Dados do usuario:] como base para respostas curtas — use apenas o histórico.\n\nMAPEAMENTO OBRIGATÓRIO DE \"SIM\" PARA PERGUNTAS COMUNS:\nQuando o usuário responder \"sim\" (ou variação) e a última pergunta sua for uma das abaixo, responda com a informação correspondente usando os dados do bloco [Dados do usuario:]:\n- \"Quer ver seu total investido?\" → mostre o total investido\n- \"Quer ver o progresso das suas metas?\" → mostre os objetivos e metas\n- \"Quer ver o progresso das outras metas?\" → mostre os objetivos e metas\n- \"Quer ver seus últimos depósitos?\" → mostre o histórico de depósitos\n- \"Quer ver o histórico de depósitos?\" → mostre o histórico de depósitos\n- \"Quer ver o histórico de saques?\" → mostre o histórico de saques\n- \"Já quer fazer o depósito?\" → confirme que quer depositar e informe o valor da próxima meta\n- \"Quer ver o progresso dos seus objetivos?\" → mostre os objetivos e metas\nEste mapeamento tem PRIORIDADE MÁXIMA sobre qualquer outra regra.\n\nDICAS — QUANDO O USUÁRIO NÃO SABE O QUE PERGUNTAR:\nQuando o usuário disser que não sabe o que perguntar, pedir dicas, ou usar expressões como \"não sei\", \"me dá dicas\", \"o que posso perguntar\", \"me ajuda\", responda com esta lista exata:\nClaro! Aqui estão algumas coisas que posso te contar:\n\n- Seus *objetivos* \n- Suas *metas*\n- Seus *depósitos*\n- Seus *saques*\n- Sua posição no *ranking*\n- Sua *pontuação*\n- Quanto você já tem *investido*\n- Qual o seu *rendimento*\n- Fazer um depósito *Pix*\n\nQual desses você quer saber?\n\n---\n\nRENDIMENTO — QUANDO O USUÁRIO PERGUNTA SOBRE RENDIMENTOS:\nQuando o usuário perguntar sobre rendimentos, escolher a opção \"*rendimento*\" nas dicas, ou usar expressões como \"rendimento\", \"quanto rendeu\", \"juros\", \"meus ganhos\", \"rendeu quanto\", exiba os rendimentos mensais do bloco [Dados do usuario:] usando exatamente este formato:\n\nAqui estão seus rendimentos mensais:\n\n[lista de meses e valores do contexto, um por linha]\n\n[total acumulado se disponível]\n\nSe não houver rendimentos registrados, responda: \"Você ainda não tem rendimentos registrados.\"\nEncerre perguntando: \"Quer saber mais alguma coisa?\"\n\n---\n\nDEPÓSITO — QUANDO O USUÁRIO QUER DEPOSITAR:\nQuando o usuário disser que quer fazer um depósito, escolher a opção de depósito nas dicas, ou usar expressões como \"quero depositar\", \"fazer depósito\", \"depósito Pix\", responda informando o valor restante para atingir a próxima meta e perguntando se quer depositar esse valor. Use o formato:\nPara atingir sua próxima meta você precisa depositar R$ X,XX.\n\nJá quer fazer o depósito?\n\n---\n\n---\n\nSAQUE VIA WHATSAPP — REGRA OBRIGATÓRIA:\nQuando o usuário pedir para REALIZAR um saque (expressões como \"quero sacar\", \"fazer saque\", \"saque\", \"como sacar\", \"retirar dinheiro\") e a mensagem contiver o bloco [Dados do usuario:] (indicando que está no WhatsApp), informe que saques só podem ser realizados pelo aplicativo Purg e pergunte se quer ver o histórico de saques.\n\nDepois que você fizer essa pergunta e o usuário responder afirmativamente (sim, quero, pode, claro, etc.), exiba o histórico de saques normalmente usando os dados do bloco [Dados do usuario:] — NÃO repita a mensagem sobre o app.\n\nO histórico de saques pode sempre ser exibido normalmente quando solicitado diretamente ou em resposta à sua pergunta. Quando exibir o histórico de saques após a pergunta \"Quer ver seu histórico de saques?\", mostre o histórico COMPLETO diretamente — sem passar pela pergunta \"Quer ver o *último* ou o *histórico*?\".\n\nExemplo de resposta quando o usuário pede para sacar via WhatsApp:\nSaques só podem ser feitos pelo aplicativo Purg.\n\nQuer ver seu histórico de saques?\n\n---\n\nESCOPO: Você responde exclusivamente sobre a Purg e educação financeira básica (juros, juros compostos, risco e patrimônio — sempre com exemplos simples e conectados ao contexto do usuário). Qualquer outro assunto deve ser gentilmente recusado: \"Só posso te ajudar com a Purg e educação financeira básica.\"\n\nPerguntas genéricas como \"como funciona?\" devem sempre ser interpretadas e respondidas com base nas funcionalidades da Purg. Nunca invente funcionalidades que não existam.\n\n---\n\nCOMO A PURG FUNCIONA:\n\n1. OBJETIVO\nAntes de qualquer transferência, o usuário cria um objetivo respondendo 3 perguntas: qual valor quer alcançar (mínimo R$ 200,00), quanto tem para o primeiro aporte, e em quanto tempo quer chegar lá. A partir disso, a Purg calcula automaticamente a meta mensal: (valor do objetivo - primeiro aporte) ÷ número de meses = meta mensal. Esse é o valor que o usuário precisará aportar todo mês para atingir o objetivo.\n\n2. DEPÓSITOS\nOs depósitos são feitos exclusivamente via Pix, a partir de uma conta bancária vinculada ao mesmo CPF cadastrado na Purg. Depósitos pendentes podem ser cancelados pelo próprio usuário. O botão de depósito sugere automaticamente o valor da próxima meta mensal para facilitar.\n\n3. SAQUES\nPara sacar, o usuário precisa ter uma chave Pix cadastrada (pode ser CPF, e-mail, celular ou chave aleatória) e informar a senha de negociação — uma senha de 4 dígitos criada por ele mesmo no app. O saque é creditado na conta vinculada em até 1 dia útil. Não é possível sacar mais do que o saldo disponível.\n\n4. SENHA DE NEGOCIAÇÃO\nÉ uma senha numérica de 4 dígitos criada pelo usuário. Ela é obrigatória para realizar saques e alterar informações sensíveis do perfil. Regras: exatamente 4 dígitos, não pode ter todos iguais (ex: 1111) e não pode ter o mesmo dígito repetido 3 vezes seguidas (ex: 1333).\n\n5. PINS\nO dinheiro depositado é investido em Pins. Um Pin é a unidade de investimento da Purg, com valor nominal de R$ 0,01 cada. Cada Pin tem um nível de risco e uma data de vencimento, e os juros variam conforme o risco. A Purg faz a alocação dos Pins automaticamente — o usuário não escolhe onde seu dinheiro é investido.\n\n6. PONTUAÇÃO, LIGA E RANKING\nCada meta mensal concluída ou aporte inicial equivale a 40 pontos. Metas em andamento acumulam pontos proporcionais ao progresso. Os pontos determinam a liga do usuário — quanto mais pontos, maior a liga. O ranking permite comparar a evolução com outros usuários, mas nunca exibe valores financeiros — apenas o progresso nas metas. Ninguém no ranking sabe quanto dinheiro você ou outra pessoa tem.\n\n7. PERFIL E APELIDO\nO usuário escolhe um apelido (que aparece no ranking) e pode personalizar seu avatar — são 13 opções disponíveis. O apelido não pode conter partes do nome real. É possível cadastrar até 4 tipos de chave Pix no perfil: CPF, e-mail, celular e chave aleatória.\n\n8. MODO FAMÍLIA\nUm guardião pode gerenciar a conta de um dependente menor de idade. O guardião envia um convite, o dependente aceita, e o guardião passa a acompanhar e operar a conta do dependente pelo app. Menores de idade têm restrições de uso definidas pelo guardião.\n\n9. INDICAÇÃO\nO usuário pode convidar outras pessoas para a Purg através da área de indicação no app.\n\n10. AUTENTICAÇÃO\nO login pode ser feito com e-mail e senha ou com biometria (como impressão digital ou reconhecimento facial), disponível nos dispositivos que suportam essa tecnologia.\n\n---\n\nEDUCAÇÃO FINANCEIRA:\nFale sobre juros simples, juros compostos, risco e patrimônio — sempre com exemplos do dia a dia e conectados ao contexto de quem está começando. Nunca use termos técnicos sem explicar antes de forma simples.\n\n---\n\nDADOS DO USUÁRIO:\nA cada mensagem você recebe um bloco [Dados do usuario: ...] com as informações atuais da conta: apelido, total investido, objetivos com progresso das metas, últimos depósitos e saques, liga, posição no ranking, pontuação e rendimentos mensais. Use esses dados para responder perguntas diretas sobre a conta. Para respostas curtas ('sim', 'não', etc.), ignore esse bloco e use apenas o histórico da conversa. Nunca diga que não tem acesso às informações — você as tem em cada mensagem. Nunca mencione saldo disponível."
          }
        },
        "id": "node-agent",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          680,
          340
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "modelName": "gemini-2.5-flash-lite",
          "options": {}
        },
        "id": "node-gemini",
        "name": "Google Gemini Flash",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          560,
          540
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "vW6hLLZSK4uh0bxJ",
            "name": "Google Gemini - Purg"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.body.sessionId }}",
          "contextWindowLength": 20
        },
        "id": "node-memory",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          800,
          540
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-no-error",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-if",
        "name": "Sucesso?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          920,
          340
        ]
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "let channel = 'app';\ntry {\n  const wa = $('Extrair Dados WA').all();\n  if (wa && wa.length > 0 && wa[0].json && wa[0].json.phone) channel = 'wa';\n} catch(e) {}\nconst input = $input.first().json;\nreturn [{ json: { ...input, channel } }];"
        },
        "id": "node-ch-detect",
        "name": "Detectar Canal",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1140,
          220
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-is-wa",
                "leftValue": "={{ $json.channel }}",
                "rightValue": "wa",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-is-wa",
        "name": "É WhatsApp?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1340,
          220
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "429683C4C977415CAAFCCE10F7D57E11"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { number: $('Extrair Dados WA').first().json.remoteJid, text: $json.output } }}",
          "options": {}
        },
        "id": "node-wa-ok-send",
        "name": "Enviar Resposta WA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          120
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "field-response",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              },
              {
                "id": "field-session",
                "name": "sessionId",
                "value": "={{ $('Webhook').item.json.body.sessionId }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": false,
          "options": {}
        },
        "id": "node-set-success",
        "name": "Formatar Resposta",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          800,
          340
        ]
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "let channel = 'app';\ntry {\n  const wa = $('Extrair Dados WA').all();\n  if (wa && wa.length > 0 && wa[0].json && wa[0].json.phone) channel = 'wa';\n} catch(e) {}\nconst input = $input.first().json;\nreturn [{ json: { ...input, channel } }];"
        },
        "id": "node-ch-detect-err",
        "name": "Detectar Canal Erro",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1140,
          460
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-is-wa-err",
                "leftValue": "={{ $json.channel }}",
                "rightValue": "wa",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-is-wa-err",
        "name": "É WhatsApp Erro?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1340,
          460
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "429683C4C977415CAAFCCE10F7D57E11"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { number: $('Extrair Dados WA').first().json.remoteJid, text: 'Ops! Tive um probleminha aqui. Tente novamente em instantes.' } }}",
          "options": {}
        },
        "id": "node-wa-err-send",
        "name": "Enviar Erro WA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          380
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "field-error",
                "name": "response",
                "value": "Ops! Tive um probleminha aqui. Tente novamente em instantes.",
                "type": "string"
              },
              {
                "id": "field-session-err",
                "name": "sessionId",
                "value": "={{ $('Webhook').item.json.body.sessionId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "node-set-error",
        "name": "Formatar Erro",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1560,
          540
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "id": "node-respond",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1780,
          340
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "purg-chat-wa",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "node-wa-webhook",
        "name": "Webhook WA",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          208,
          720
        ],
        "webhookId": "purg-chat-wa-webhook"
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "const body = $input.first().json.body;\n\nif (!body || body.event !== 'messages.upsert') return [];\n\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nif (key.fromMe === true) return [];\nconst textContent = msg.conversation || (msg.extendedTextMessage && msg.extendedTextMessage.text) || null;\nif (!textContent) return [];\nif (key.remoteJid && key.remoteJid.endsWith('@g.us')) return [];\n\nreturn [{ json: {\n  phone: key.remoteJid.replace('@s.whatsapp.net', '').replace(/^55/, ''),\n  remoteJid: key.remoteJid,\n  text: textContent\n} }];"
        },
        "id": "node-wa-filter",
        "name": "Filtrar Mensagem WA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          430,
          720
        ]
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "const data = $input.first().json;\nconst phone = data.phone;\nconst now = new Date();\nconst ONE_HOUR = 60 * 60 * 1000;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\n\nconst existing = sessions['wa_' + phone];\nconst isExpired = !existing || (now - new Date(existing.lastMessageAt)) > ONE_HOUR;\n\nlet sessionSuffix;\nif (isExpired) {\n  sessionSuffix = Math.floor(now.getTime() / ONE_HOUR) + '_' + Math.random().toString(36).slice(2, 6);\n  sessions['wa_' + phone] = { lastMessageAt: now.toISOString(), sessionSuffix: sessionSuffix };\n} else {\n  sessionSuffix = existing.sessionSuffix;\n  sessions['wa_' + phone].lastMessageAt = now.toISOString();\n}\n\nstaticData.waSessions = sessions;\n\nconst sessionId = 'wa_' + phone + '_' + sessionSuffix;\nconst isNewSession = isExpired;\n\nreturn [{ json: {\n  phone,\n  remoteJid: data.remoteJid,\n  text: data.text,\n  sessionId,\n  isNewSession\n} }];"
        },
        "id": "node-wa-extract",
        "name": "Extrair Dados WA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          650,
          720
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://jinx.purg.com.br/api/webhook/nami/usuarios/por-celular?celular=' + $json.phone }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "node-wa-lookup",
        "name": "Buscar Usuário por Celular",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          870,
          720
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-usuario-found",
                "leftValue": "={{ $json.usuario_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-wa-check",
        "name": "Usuário Encontrado?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1090,
          720
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-nova-sessao",
                "leftValue": "={{ $('Extrair Dados WA').first().json.isNewSession }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-wa-session",
        "name": "É Nova Sessão?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1310,
          620
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://jinx.purg.com.br/api/webhook/usuario/' + $json.usuario_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "node-wa-fetch",
        "name": "Buscar Dados Usuário WA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1530,
          540
        ]
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "const waData = $('Extrair Dados WA').first().json;\nconst phone = waData.phone;\nconst sessionId = waData.sessionId;\nconst data = $input.first().json;\nconst u = data.usuario || {};\nconst objetivos = data.objetivos || [];\nconst depositos = data.depositos || [];\nconst saques = data.saques || [];\nconst rendimentos = data.rendimentos_mensais || [];\n\nfunction brl(v) {\n  const parts = parseFloat(v || 0).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\nfunction fmtDate(d) {\n  try { return new Date(d).toLocaleDateString('pt-BR'); } catch(e) { return String(d); }\n}\n\nlet objLines = '';\nif (objetivos.length === 0) {\n  objLines = 'Nenhum objetivo criado ainda.';\n} else {\n  objLines = objetivos.map(function(obj) {\n    const metas = obj.metas || [];\n    const metasConcluidas = metas.filter(function(m) { return m.objetivo_completo; }).length;\n    const proximaMeta = metas.find(function(m) { return !m.objetivo_completo; });\n    let t = '- ' + obj.objetivo_descricao + ' | ' + metasConcluidas + '/' + metas.length + ' metas concluídas';\n    if (!obj.primeiro_aporte_feito) {\n      t += ' | Aguardando primeiro aporte';\n    } else if (proximaMeta) {\n      t += ' | Próxima meta: ' + brl(proximaMeta.objetivo_investir) + ' até ' + fmtDate(proximaMeta.data_limite) + ' (investido: ' + brl(proximaMeta.saldo_alocado) + ')';\n    } else {\n      t += ' | Todas as metas concluídas!';\n    }\n    return t;\n  }).join('\\n');\n}\n\nconst ultimosDepositos = depositos.map(function(d) {\n  return '- ' + fmtDate(d.data_criacao) + ': ' + brl(d.valor_deposito) + ' (' + d.status_deposito + ')';\n}).join('\\n') || 'Nenhum depósito recente.';\n\nconst ultimosSaques = saques.map(function(s) {\n  return '- ' + fmtDate(s.data_criacao) + ': ' + brl(s.valor_saque) + ' (' + s.status_saque + ')';\n}).join('\\n') || 'Nenhum saque recente.';\n\n\nconst mesesPT = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];\nconst rendimentosStr = rendimentos.length > 0\n  ? rendimentos.map(function(r) {\n      const parts = r.mes.split('-');\n      const mesNome = mesesPT[parseInt(parts[1], 10) - 1];\n      return '- ' + mesNome + '/' + parts[0] + ': ' + brl(r.rendimento_mensal);\n    }).join('\\n')\n  : 'Nenhum rendimento registrado ainda.';\nconst totalRendimento = rendimentos.reduce(function(acc, r) { return acc + parseFloat(r.rendimento_mensal || 0); }, 0);\nconst totalRendimentoStr = rendimentos.length > 0 ? '\\nTotal acumulado: ' + brl(totalRendimento) : '';\n\nconst apelido = u.apelido || 'usuário';\nconst contexto = 'Apelido: ' + apelido + '\\n' +\n  'Liga: ' + (u.liga || '-') + ' | Posição: #' + (u.posicao || '-') + ' | Pontos: ' + (u.pontos || 0) + '\\n' +\n  'Total investido: ' + brl(u.investido) + '\\n\\n' +\n  'Objetivos:\\n' + objLines + '\\n\\n' +\n  'Últimos depósitos:\\n' + ultimosDepositos + '\\n\\n' +\n  'Últimos saques:\\n' + ultimosSaques + '\\n\\n' +\n  'Rendimentos mensais:\\n' + rendimentosStr + totalRendimentoStr;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\nif (sessions['wa_' + phone]) {\n  sessions['wa_' + phone].contexto = contexto;\n  staticData.waSessions = sessions;\n}\n\nconst retornando = objetivos.length > 0 || depositos.length > 0;\nconst saudacao = retornando\n  ? 'Oi ' + apelido + ', que bom que voltou!\\n\\nJá sabe sobre o que quer falar?\\n\\nSe não souber, me manda *dicas* que eu te ajudo!'\n  : 'Oi ' + apelido + '! Sou a Purg, bem-vindo!\\n\\nJá sabe sobre o que quer falar?\\n\\nSe não souber, me manda *dicas* que eu te ajudo!';\n\n\n// Salvar usuarioId e valor da próxima meta para fluxo de depósito\ntry {\n  const uid = $('Buscar Usuário por Celular').first().json.usuario_id;\n  if (sessions['wa_' + phone] && uid) {\n    sessions['wa_' + phone].usuarioId = uid;\n    // Valor restante para atingir a próxima meta\n    if (objetivos.length > 0) {\n      const obj = objetivos[0];\n      const pendentes = (obj.metas || []).filter(function(m) { return !m.objetivo_completo; });\n      if (pendentes.length > 0 && obj.primeiro_aporte_feito) {\n        const pm = pendentes[0];\n        const resto = parseFloat(pm.objetivo_investir) - parseFloat(pm.saldo_alocado);\n        if (resto > 0) sessions['wa_' + phone].proximaMetaValor = resto.toFixed(2);\n      }\n    }\n    staticData.waSessions = sessions;\n  }\n} catch(e) {}\n\nreturn [{ json: { output: saudacao, sessionId } }];"
        },
        "id": "node-wa-ctx",
        "name": "Montar Contexto WA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1750,
          540
        ]
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "const waData = $('Extrair Dados WA').first().json;\nconst phone = waData.phone;\nconst sessionId = waData.sessionId;\nconst text = waData.text;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\nconst session = sessions['wa_' + phone];\n\n// Salvar usuarioId para o fluxo de depósito\ntry {\n  const uid = $('Buscar Usuário por Celular').first().json.usuario_id;\n  if (session && uid) { session.usuarioId = uid; staticData.waSessions = sessions; }\n} catch(e) {}\n\nconst contexto = session && session.contexto ? session.contexto : '';\nconst message = contexto\n  ? '[Dados do usuario:\\n' + contexto + ']\\n\\n' + text\n  : text;\n\nreturn [{ json: { body: { message, sessionId } } }];\n"
        },
        "id": "node-wa-set-msg",
        "name": "Preparar Mensagem WA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1530,
          720
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "429683C4C977415CAAFCCE10F7D57E11"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { number: $('Extrair Dados WA').first().json.remoteJid, text: \"👋 Oi! Eu sou a Purg, muito prazer!\\n\\nEu vi aqui e não encontrei nenhuma conta Purg vinculada a esse número.\\n\\nPara criarmos nosso objetivo e começarmos a nossa jornada se cadastre em:\\n\\nwww.purg.com.br/cadastro\" } }}",
          "options": {}
        },
        "id": "node-wa-nf-send",
        "name": "Enviar Não Cadastrado",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1310,
          840
        ],
        "onError": "continueErrorOutput"
      },
      {
        "id": "node-fmt-wa",
        "name": "Formatar WA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1450,
          220
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const item = $input.first().json;\nlet text = (item.output || '').trim();\n\n// Separar frases em parágrafos\ntext = text.replace(/([.!?])\\s+([A-ZÀ-Ü])/g, '$1\\n\\n$2');\n\n// Garantir que termina com pergunta\nif (!text.trim().endsWith('?')) {\n  const lower = text.toLowerCase();\n  const isHistorico = (text.match(/^- /gm) || []).length >= 2;\n  const hasDepositAmount = /depositar r\\$\\s*[\\d.,]+/i.test(text) || /precisa depositar/i.test(text);\n  let pergunta;\n  if (hasDepositAmount) {\n    pergunta = 'J\\u00e1 quer fazer o dep\\u00f3sito?';\n  } else if (isHistorico) {\n    if (lower.includes('dep\\u00f3sito') || lower.includes('deposito')) {\n      pergunta = 'Quer ver o hist\\u00f3rico de saques?';\n    } else if (lower.includes('saque')) {\n      pergunta = 'Quer ver o hist\\u00f3rico de dep\\u00f3sitos?';\n    } else if (lower.includes('meta') || lower.includes('objetivo')) {\n      pergunta = 'Quer ver seus \\u00faltimos dep\\u00f3sitos?';\n    } else {\n      pergunta = 'Posso te ajudar com mais alguma coisa sobre a sua conta?';\n    }\n  } else {\n    if (lower.includes('meta') || lower.includes('objetivo')) {\n      pergunta = 'Quer ver o progresso das outras metas?';\n    } else if (lower.includes('dep\\u00f3sito') || lower.includes('deposito')) {\n      pergunta = 'Quer ver o hist\\u00f3rico de dep\\u00f3sitos?';\n    } else if (lower.includes('saque')) {\n      pergunta = 'Quer ver o hist\\u00f3rico de saques?';\n    } else if (lower.includes('rank') || lower.includes('liga') || lower.includes('ponto')) {\n      pergunta = 'Quer ver seu total investido?';\n    } else if (lower.includes('invest') || lower.includes('patrim')) {\n      pergunta = 'Quer ver o progresso das suas metas?';\n    } else {\n      pergunta = 'Posso te ajudar com mais alguma coisa sobre a sua conta?';\n    }\n  }\n  text = text.trim() + '\\n\\n' + pergunta;\n}\n\n// Detectar se a resposta final pede depósito → ativar fluxo\nif (/j\\u00e1 quer fazer o dep\\u00f3sito\\?/i.test(text) || /quer fazer o dep\\u00f3sito\\?/i.test(text)) {\n  try {\n    const waPhone = $('Extrair Dados WA').first().json.phone;\n    const sd = $getWorkflowStaticData('global');\n    const sess = sd.waSessions || {};\n    if (sess['wa_' + waPhone]) {\n      sess['wa_' + waPhone].depositStep = 'confirm_amount';\n      // Tentar extrair valor do texto\n      const valM = text.match(/depositar R\\$\\s*([\\d.,]+)/i);\n      if (valM) {\n        sess['wa_' + waPhone].depositValue = valM[1].replace(/\\./g,'').replace(',','.');\n      } else if (sess['wa_' + waPhone].proximaMetaValor) {\n        sess['wa_' + waPhone].depositValue = sess['wa_' + waPhone].proximaMetaValor;\n      }\n      sd.waSessions = sess;\n    }\n  } catch(e) {}\n}\n\nreturn [{ json: { output: text } }];\n"
        }
      },
      {
        "id": "node-wa-verif-dep",
        "name": "Verificar Depósito WA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1730,
          720
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const waData = $('Extrair Dados WA').first().json;\nconst phone = waData.phone;\nconst text = waData.text.trim();\n\n// Pass-through do body para o AI Agent usar quando isDeposito = false\nconst prepBody = $('Preparar Mensagem WA').first().json.body;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\nconst session = sessions['wa_' + phone] || {};\nconst depositStep = session.depositStep || null;\n\nif (!depositStep) {\n  return [{ json: { isDeposito: false, body: prepBody } }];\n}\n\nreturn [{ json: {\n  isDeposito: true,\n  body: prepBody,\n  depositStep,\n  depositValue: session.depositValue || null,\n  usuarioId: session.usuarioId || null,\n  phone,\n  text,\n  sessionId: waData.sessionId\n} }];\n"
        }
      },
      {
        "id": "node-wa-is-dep",
        "name": "É Depósito?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1930,
          720
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-is-dep",
                "leftValue": "={{ $json.isDeposito }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "node-wa-logica-dep",
        "name": "Lógica Depósito WA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2130,
          620
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const info = $input.first().json;\nconst { depositStep, depositValue, phone, usuarioId, text, sessionId } = info;\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\n\nfunction brl(v) {\n  const parts = parseFloat(v || 0).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\n\nconst norm = text.trim().toLowerCase();\nconst isSim    = /^(1|sim|yes|quero|pode|claro|ok|confirmar?|fa[cç]a?)(\\s|$)/i.test(norm);\nconst isNao    = /^(2|outro|outra|diferente|muda)/.test(norm);\nconst isCancel = /^(3|cancel|cancelar|sair|parar|desistir|n[aã]o|nao)/.test(norm);\n\nconst confirmMsg = 'Quer fazer o depósito de ' + brl(depositValue) + '?\\n\\nDigite:\\n\\n*1* - para confirmar\\n*2* - para escolher outro valor\\n*3* - para cancelar';\n\nlet output = '';\nlet callPix = false;\nlet pixValue = null;\n\nif (depositStep === 'confirm_amount') {\n  if (isSim) {\n    callPix = true;\n    pixValue = depositValue;\n    delete sessions['wa_' + phone].depositStep;\n    delete sessions['wa_' + phone].depositValue;\n  } else if (isCancel) {\n    delete sessions['wa_' + phone].depositStep;\n    delete sessions['wa_' + phone].depositValue;\n    output = 'Tudo bem, cancelei o depósito.\\n\\nComo mais posso te ajudar?\\n\\n- Seus *objetivos* \\n- Suas *metas*\\n- Seus *depósitos*\\n- Seus *saques*\\n- Sua posição no *ranking*\\n- Sua *pontuação*\\n- Quanto você já tem *investido*\\n- Qual o seu *rendimento*\\n- Fazer um depósito *Pix*\\n\\nQual desses você quer saber?';\n  } else if (isNao) {\n    sessions['wa_' + phone].depositStep = 'ask_custom';\n    output = 'Tudo bem!\\n\\nQual valor você quer depositar?';\n  } else {\n    output = confirmMsg;\n  }\n} else if (depositStep === 'ask_custom') {\n  if (isCancel) {\n    delete sessions['wa_' + phone].depositStep;\n    delete sessions['wa_' + phone].depositValue;\n    output = 'Tudo bem, cancelei o depósito.\\n\\nComo mais posso te ajudar?\\n\\n- Seus *objetivos* \\n- Suas *metas*\\n- Seus *depósitos*\\n- Seus *saques*\\n- Sua posição no *ranking*\\n- Sua *pontuação*\\n- Quanto você já tem *investido*\\n- Qual o seu *rendimento*\\n- Fazer um depósito *Pix*\\n\\nQual desses você quer saber?';\n  } else {\n    const clean = text.replace(/r\\$\\s*/i, '').replace(/\\./g, '').replace(',', '.');\n    const match = clean.match(/(\\d+(?:\\.\\d{1,2})?)/);\n    if (match && parseFloat(match[1]) >= 1) {\n      pixValue = parseFloat(match[1]).toFixed(2);\n      callPix = true;\n      delete sessions['wa_' + phone].depositStep;\n      delete sessions['wa_' + phone].depositValue;\n    } else {\n      output = 'Não entendi o valor.\\n\\nMe diz quanto quer depositar. Exemplo: 50,00\\n\\nOu digite *3* para cancelar.';\n    }\n  }\n}\n\nstaticData.waSessions = sessions;\n\nif (callPix) {\n  return [{ json: { callPix: true, pixValue, usuarioId, phone, sessionId } }];\n}\nreturn [{ json: { callPix: false, output, phone, sessionId } }];\n"
        }
      },
      {
        "id": "node-wa-is-pix",
        "name": "É Chamar Pix?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2330,
          620
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "cond-call-pix",
                "leftValue": "={{ $json.callPix }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "node-wa-criar-pix",
        "name": "Criar Pix WA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2530,
          520
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://jinx.purg.com.br/api/webhook/nami/usuarios/' + $json.usuarioId + '/pix/cobrar' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"valor\": $json.pixValue } }}",
          "options": {}
        },
        "onError": "continueErrorOutput"
      },
      {
        "id": "node-wa-fmt-pix",
        "name": "Formatar Pix WA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2730,
          520
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "\nconst pix = $input.first().json;\nconst remoteJid = $('Extrair Dados WA').first().json.remoteJid;\n\nif (!pix.pixCopiaECola) {\n  return [{ json: {\n    output: 'Ops! Não consegui gerar o Pix agora.\\n\\nTente novamente em instantes.',\n    pixUrl: null, remoteJid\n  } }];\n}\n\nconst brl = (v) => {\n  const p = parseFloat(v).toFixed(2).split('.');\n  p[0] = p[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + p[0] + ',' + p[1];\n};\n\nconst valorStr = $('Lógica Depósito WA').first().json.pixValue || pix.pixValue || pix.valor || '0';\nconst output = 'Depósito de ' + brl(valorStr) + ' gerado! 💸\\n\\nAcesse o link abaixo para copiar o código Pix:';\n\nreturn [{ json: {\n  output,\n  pixCode: pix.pixCopiaECola,\n  valor: valorStr,\n  remoteJid\n} }];\n"
        }
      },
      {
        "id": "node-wa-enviar-codigo-pix",
        "name": "Enviar Link Pix WA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2930,
          520
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "429683C4C977415CAAFCCE10F7D57E11"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"number\": $('Montar Msg Pix').first().json.remoteJid, \"text\": $('Montar Msg Pix').first().json.pixUrl } }}",
          "options": {}
        }
      },
      {
        "id": "node-wa-enviar-aviso-pix",
        "name": "Enviar Aviso Pix WA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2730,
          520
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "429683C4C977415CAAFCCE10F7D57E11"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { number: $('Montar Msg Pix').first().json.remoteJid, text: $('Montar Msg Pix').first().json.output } }}",
          "options": {}
        }
      },
      {
        "id": "node-wa-registrar-token",
        "name": "Registrar Token Pix",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          700
        ],
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://purg.com.br/pix?action=reg&code=' + encodeURIComponent($json.pixCode) + '&valor=' + encodeURIComponent($json.valor) }}",
          "options": {}
        }
      },
      {
        "id": "node-wa-montar-msg-pix",
        "name": "Montar Msg Pix",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          700
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "\nconst regResp = $input.first().json;\nconst fmt = $('Formatar Pix WA').first().json;\nreturn [{ json: {\n  output: fmt.output,\n  pixUrl: regResp.url,\n  remoteJid: fmt.remoteJid\n} }];\n"
        }
      },
      {
        "id": "node-wa-atualizar-pix",
        "name": "Atualizar Dados Pós-Pix",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1600,
          700
        ],
        "onError": "continueErrorOutput",
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://jinx.purg.com.br/api/webhook/usuario/' + $('Lógica Depósito WA').first().json.usuarioId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-wa-salvar-ctx-pix",
        "name": "Salvar Contexto Pós-Pix",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1800,
          700
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const phone = $('Extrair Dados WA').first().json.phone;\nconst data = $input.first().json;\nconst u = data.usuario || {};\nconst objetivos = data.objetivos || [];\nconst depositos = data.depositos || [];\nconst saques = data.saques || [];\nconst rendimentos = data.rendimentos_mensais || [];\n\nfunction brl(v) {\n  const parts = parseFloat(v || 0).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\nfunction fmtDate(d) {\n  try { return new Date(d).toLocaleDateString('pt-BR'); } catch(e) { return String(d); }\n}\n\nlet objLines = '';\nif (objetivos.length === 0) {\n  objLines = 'Nenhum objetivo criado ainda.';\n} else {\n  objLines = objetivos.map(function(obj) {\n    const metas = obj.metas || [];\n    const metasConcluidas = metas.filter(function(m) { return m.objetivo_completo; }).length;\n    const proximaMeta = metas.find(function(m) { return !m.objetivo_completo; });\n    let t = '- ' + obj.objetivo_descricao + ' | ' + metasConcluidas + '/' + metas.length + ' metas concluídas';\n    if (!obj.primeiro_aporte_feito) {\n      t += ' | Aguardando primeiro aporte';\n    } else if (proximaMeta) {\n      t += ' | Próxima meta: ' + brl(proximaMeta.objetivo_investir) + ' até ' + fmtDate(proximaMeta.data_limite) + ' (investido: ' + brl(proximaMeta.saldo_alocado) + ')';\n    } else {\n      t += ' | Todas as metas concluídas!';\n    }\n    return t;\n  }).join('\\n');\n}\n\nconst ultimosDepositos = depositos.map(function(d) {\n  return '- ' + fmtDate(d.data_criacao) + ': ' + brl(d.valor_deposito) + ' (' + d.status_deposito + ')';\n}).join('\\n') || 'Nenhum depósito recente.';\n\nconst ultimosSaques = saques.map(function(s) {\n  return '- ' + fmtDate(s.data_criacao) + ': ' + brl(s.valor_saque) + ' (' + s.status_saque + ')';\n}).join('\\n') || 'Nenhum saque recente.';\n\n\nconst mesesPT = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];\nconst rendimentosStr = rendimentos.length > 0\n  ? rendimentos.map(function(r) {\n      const parts = r.mes.split('-');\n      const mesNome = mesesPT[parseInt(parts[1], 10) - 1];\n      return '- ' + mesNome + '/' + parts[0] + ': ' + brl(r.rendimento_mensal);\n    }).join('\\n')\n  : 'Nenhum rendimento registrado ainda.';\nconst totalRendimento = rendimentos.reduce(function(acc, r) { return acc + parseFloat(r.rendimento_mensal || 0); }, 0);\nconst totalRendimentoStr = rendimentos.length > 0 ? '\\nTotal acumulado: ' + brl(totalRendimento) : '';\n\nconst novoContexto = 'Apelido: ' + (u.apelido || 'usuário') + '\\n' +\n  'Liga: ' + (u.liga || '-') + ' | Posição: #' + (u.posicao || '-') + ' | Pontos: ' + (u.pontos || 0) + '\\n' +\n  'Total investido: ' + brl(u.investido) + '\\n\\n' +\n  'Objetivos:\\n' + objLines + '\\n\\n' +\n  'Últimos depósitos:\\n' + ultimosDepositos + '\\n\\n' +\n  'Últimos saques:\\n' + ultimosSaques + '\\n\\n' +\n  'Rendimentos mensais:\\n' + rendimentosStr + totalRendimentoStr;\n\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.waSessions || {};\nif (sessions['wa_' + phone]) {\n  sessions['wa_' + phone].contexto = novoContexto;\n  try {\n    if (objetivos.length > 0) {\n      const obj = objetivos[0];\n      const pendentes = (obj.metas || []).filter(function(m) { return !m.objetivo_completo; });\n      if (pendentes.length > 0 && obj.primeiro_aporte_feito) {\n        const pm = pendentes[0];\n        const resto = parseFloat(pm.objetivo_investir) - parseFloat(pm.saldo_alocado);\n        if (resto > 0) sessions['wa_' + phone].proximaMetaValor = resto.toFixed(2);\n        else delete sessions['wa_' + phone].proximaMetaValor;\n      } else {\n        delete sessions['wa_' + phone].proximaMetaValor;\n      }\n    }\n  } catch(e) {}\n  staticData.waSessions = sessions;\n}\n\nconst msgPix = $('Montar Msg Pix').first().json;\nreturn [{ json: { output: msgPix.output, pixUrl: msgPix.pixUrl, remoteJid: msgPix.remoteJid } }];"
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "É iniciar sessão?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É iniciar sessão?": {
        "main": [
          [
            {
              "node": "Buscar Dados do Usuário",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Dados do Usuário": {
        "main": [
          [
            {
              "node": "Montar Contexto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Contexto": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Sucesso?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Flash": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Sucesso?": {
        "main": [
          [
            {
              "node": "Detectar Canal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Detectar Canal Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detectar Canal": {
        "main": [
          [
            {
              "node": "É WhatsApp?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É WhatsApp?": {
        "main": [
          [
            {
              "node": "Formatar WA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Formatar Resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detectar Canal Erro": {
        "main": [
          [
            {
              "node": "É WhatsApp Erro?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É WhatsApp Erro?": {
        "main": [
          [
            {
              "node": "Enviar Erro WA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Formatar Erro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatar Resposta": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatar Erro": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook WA": {
        "main": [
          [
            {
              "node": "Filtrar Mensagem WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrar Mensagem WA": {
        "main": [
          [
            {
              "node": "Extrair Dados WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair Dados WA": {
        "main": [
          [
            {
              "node": "Buscar Usuário por Celular",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Usuário por Celular": {
        "main": [
          [
            {
              "node": "Usuário Encontrado?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar Não Cadastrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Usuário Encontrado?": {
        "main": [
          [
            {
              "node": "É Nova Sessão?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar Não Cadastrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É Nova Sessão?": {
        "main": [
          [
            {
              "node": "Buscar Dados Usuário WA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Preparar Mensagem WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Dados Usuário WA": {
        "main": [
          [
            {
              "node": "Montar Contexto WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Contexto WA": {
        "main": [
          [
            {
              "node": "Enviar Resposta WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Mensagem WA": {
        "main": [
          [
            {
              "node": "Verificar Depósito WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Resposta WA": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Erro WA": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Não Cadastrado": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatar WA": {
        "main": [
          [
            {
              "node": "Enviar Resposta WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Depósito WA": {
        "main": [
          [
            {
              "node": "É Depósito?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É Depósito?": {
        "main": [
          [
            {
              "node": "Lógica Depósito WA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lógica Depósito WA": {
        "main": [
          [
            {
              "node": "É Chamar Pix?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É Chamar Pix?": {
        "main": [
          [
            {
              "node": "Criar Pix WA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar Resposta WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Pix WA": {
        "main": [
          [
            {
              "node": "Formatar Pix WA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Formatar Pix WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatar Pix WA": {
        "main": [
          [
            {
              "node": "Registrar Token Pix",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Aviso Pix WA": {
        "main": [
          [
            {
              "node": "Enviar Link Pix WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Link Pix WA": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Registrar Token Pix": {
        "main": [
          [
            {
              "node": "Montar Msg Pix",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar Msg Pix": {
        "main": [
          [
            {
              "node": "Atualizar Dados Pós-Pix",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar Dados Pós-Pix": {
        "main": [
          [
            {
              "node": "Salvar Contexto Pós-Pix",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar Aviso Pix WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar Contexto Pós-Pix": {
        "main": [
          [
            {
              "node": "Enviar Aviso Pix WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Purg TriHold",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}
