workflows/lkcIZhpb0LWrsUxP_Cobrancas_-_Receptor_de_Respostas.json
{
  "updatedAt": "2026-05-19T21:00:22.344Z",
  "createdAt": "2026-05-19T21:00:22.344Z",
  "id": "lkcIZhpb0LWrsUxP",
  "name": "Cobrancas - Receptor de Respostas",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "cobrancas-receptor",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "webhookId": "cobrancas-receptor"
    },
    {
      "id": "proc",
      "name": "Processar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst event = body.event || '';\nconst data = body.data || {};\nconst key = data.key || {};\n\n// Só processa mensagens recebidas (não enviadas por nós)\nif (event !== 'messages.upsert') return [{ json: { skip: true, event } }];\nif (key.fromMe === true) return [{ json: { skip: true, reason: 'fromMe' } }];\n\nconst remoteJid = key.remoteJid || '';\nlet phone = remoteJid.replace('@s.whatsapp.net', '').replace('@c.us', '');\n\nconst msgContent = data.message || {};\nconst text = (\n  msgContent.conversation ||\n  (msgContent.extendedTextMessage && msgContent.extendedTextMessage.text) ||\n  ''\n).toLowerCase().trim();\n\nconst optOutWords = ['não', 'nao', 'para', 'parar', 'sair', 'cancelar', 'remover', 'stop'];\nconst isOptOut = optOutWords.some(w => text === w || text.startsWith(w + ' '));\n\nreturn [{ json: { skip: false, phone, text, isOptOut } }];"
      }
    },
    {
      "id": "if-skip",
      "name": "É Mensagem Válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "sheet-all",
      "name": "Buscar Todas as Linhas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        200
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1uyCkVi-A03FJgM97wozL82T_4KkHPgY7_5dQbiHnaOA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {},
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "euMLBNL0N55fOduQ",
          "name": "Google Sheets - Cobrancas"
        }
      }
    },
    {
      "id": "buscar-linha",
      "name": "Buscar e Preparar Atualização",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { phone, isOptOut } = $('Processar Evento').first().json;\nconst rows = $input.all();\n\n// Normaliza para comparar: remove não-dígitos e prefixo 55\nfunction normalizar(p) {\n  if (!p) return '';\n  let n = String(p).replace(/\\D/g, '');\n  if (n.startsWith('55') && n.length > 11) n = n.slice(2);\n  return n;\n}\n\nconst phoneNorm = normalizar(phone);\n\nconst match = rows.find(item => {\n  const row = item.json;\n  const status = (row['Status'] || '').trim();\n  if (!['Enviado'].includes(status)) return false;\n  const phones = [\n    row['Titular - Comercial'],\n    row['Titular - Telefone'],\n    row['Titular - Celular'],\n    row['Aluno - Celular']\n  ];\n  return phones.some(p => normalizar(p) === phoneNorm);\n});\n\nif (!match) return [{ json: { found: false, phone } }];\n\nconst newStatus = isOptOut ? 'Opt-out' : match.json['Status'];\nconst respondeu = isOptOut ? '' : 'Sim';\n\nreturn [{ json: {\n  found: true,\n  row_number: match.json['row_number'],\n  Status: newStatus,\n  Respondeu: respondeu\n}}];"
      }
    },
    {
      "id": "if-found",
      "name": "Linha Encontrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "sheet-resp",
      "name": "Atualizar Resposta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1320,
        200
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1uyCkVi-A03FJgM97wozL82T_4KkHPgY7_5dQbiHnaOA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "euMLBNL0N55fOduQ",
          "name": "Google Sheets - Cobrancas"
        }
      }
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Processar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Evento": {
      "main": [
        [
          {
            "node": "É Mensagem Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Mensagem Válida?": {
      "main": [
        [
          {
            "node": "Buscar Todas as Linhas",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Buscar Todas as Linhas": {
      "main": [
        [
          {
            "node": "Buscar e Preparar Atualização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar e Preparar Atualização": {
      "main": [
        [
          {
            "node": "Linha Encontrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linha Encontrada?": {
      "main": [
        [
          {
            "node": "Atualizar Resposta",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "05078b4f-335a-4349-aec8-9eb943d9d753",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-19T21:00:22.345Z",
      "createdAt": "2026-05-19T21:00:22.345Z",
      "role": "workflow:owner",
      "workflowId": "lkcIZhpb0LWrsUxP",
      "projectId": "l16jDOjXVVpFFpWJ"
    }
  ],
  "activeVersion": null,
  "tags": []
}
