workflows/Sb1NrNuBPPqudZU4_Nami_-_Relatorio_Gerencial_da_Purg.json
{
  "updatedAt": "2026-07-05T23:09:59.218Z",
  "createdAt": "2026-05-11T14:27:56.702Z",
  "id": "Sb1NrNuBPPqudZU4",
  "name": "Nami - Relatorio Gerencial da Purg",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "http-hoje",
      "name": "Buscar Hoje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=7",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "http-semana",
      "name": "Buscar Semana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "http-report",
      "name": "Buscar 30 dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=90",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "http-trimestre",
      "name": "Buscar Trimestre",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {}
      },
      "id": "llm-chain",
      "name": "Gemini Relatorio",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        980,
        480
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vW6hLLZSK4uh0bxJ",
          "name": "Google Gemini - Purg"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: \"120363425414158709@g.us\", text: $json.text } }}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "purg-relatorio-manual",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-manual",
      "name": "Disparo Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        500
      ],
      "webhookId": "purg-relatorio-manual"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const d1  = $('Buscar Hoje').first().json;\nconst d7  = $('Buscar Semana').first().json;\nconst d30 = $('Buscar 30 dias').first().json;\nconst d90 = $input.first().json;\n\nfunction fmt(s) {\n  const [y, m, d] = s.split('-');\n  return d + '/' + m + '/' + y;\n}\nfunction fmtShort(s) {\n  const [y, m, d] = s.split('-');\n  return d + '/' + m;\n}\nfunction brl(v) {\n  const num = parseFloat(v) || 0;\n  const parts = Math.abs(num).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\nfunction brl8(v) {\n  const num = parseFloat(v) || 0;\n  return 'R$ ' + Math.abs(num).toFixed(8).replace('.', ',');\n}\nfunction pct(a, b) {\n  if (!b) return '0,00';\n  return (parseFloat(a) / parseFloat(b) * 100).toFixed(2).replace('.', ',');\n}\nfunction deltaLabel(v) {\n  const n = parseFloat(v);\n  if (n > 0) return 'positivo';\n  if (n < 0) return 'negativo';\n  return 'neutro';\n}\n\nconst meses = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];\nfunction fmtMes(s) {\n  const [y, m] = s.split('-');\n  return meses[parseInt(m, 10) - 1] + '/' + y;\n}\n\n// ── Usuários ──────────────────────────────────────────────────────────────────\nconst u1 = d1.usuarios;\nconst f1 = d1.financeiro;\nconst taxaConversao = (u1.investindo / u1.total * 100).toFixed(2).replace('.', ',');\n\nconst blocoUsuarios = [\n  '👥 Usuários',\n  '',\n  'Usuários criados: ' + u1.total,\n  'Usuários investindo: ' + u1.investindo,\n  'Taxa de Conversão: ' + taxaConversao + '%',\n  'Total investido: ' + brl(f1.volume_investido),\n  'Ticket Médio: ' + (u1.investindo > 0 ? brl(f1.volume_investido / u1.investindo) : 'R$ 0,00'),\n].join('\\n');\n\n// ── Lulu ──────────────────────────────────────────────────────────────────────\nconst luluTaxas        = f1.lulu_taxas_deposito_total    || 0;\nconst luluDeduzido     = f1.lulu_valor_deduzido_total    || 0;\nconst luluTaxasTotal   = f1.lulu_taxas_deposito_total    || 0;\nconst luluDeduzidoTotal = f1.lulu_valor_deduzido_total   || 0;\nconst luluPct = luluTaxasTotal > 0\n  ? (luluDeduzidoTotal / luluTaxasTotal * 100).toFixed(2).replace('.', ',')\n  : '0,00';\n\nconst luluRestante = luluTaxas - luluDeduzido;\n\nconst blocoLulu = [\n  '💳 Lulu (taxas)',\n  '',\n  'Taxas Efí Bank (Total): ' + brl(luluTaxas),\n  'Recuperado: ' + brl8(luluDeduzido),\n  'Recuperado (%): ' + luluPct + '%',\n  'Taxas Efí Bank (Restante): ' + brl(luluRestante),\n].join('\\n');\n\n// ── Hoje ──────────────────────────────────────────────────────────────────────\nconst usuariosHojeTexto = u1.novos > 0\n  ? 'Houveram ' + u1.novos + ' novos cadastros hoje.'\n  : 'Não houveram novos cadastros hoje.';\n\nconst blocoHoje = [\n  '📅 Hoje',\n  '',\n  usuariosHojeTexto,\n  '',\n  'Depósitos: ' + brl(f1.depositos),\n  'Saques: ' + brl(f1.saques),\n  'Delta: ' + brl(f1.delta) + ' (' + deltaLabel(f1.delta) + ')',\n].join('\\n');\n\n// ── Projeção ──────────────────────────────────────────────────────────────────\nconst projecao = (d1.projecao_6_meses || []).map(function(p) {\n  return '  ' + fmtMes(p.mes) + ': ' + brl(p.total_previsto);\n}).join('\\n');\n\nconst blocoProjecao = [\n  '📈 Projeção das Metas (6 meses)',\n  '',\n  projecao || 'Nenhuma meta ativa.',\n].join('\\n');\n\n// ── Histórico (7, 30, 90 dias) ────────────────────────────────────────────────\nfunction blocoHistorico(d, label) {\n  const u = d.usuarios;\n  const f = d.financeiro;\n  const base = u.total - u.novos;\n  return [\n    '📅 ' + label + ' (' + fmtShort(d.data_inicio) + ' a ' + fmtShort(d.data_referencia) + ')',\n    '',\n    'Tivemos o cadastro de ' + u.novos + ' novos usuários (+' + pct(u.novos, base) + '%) do total de ' + u.total + ' usuários no período.',\n    '',\n    'Depósitos: ' + brl(f.depositos),\n    'Saques: ' + brl(f.saques),\n    'Delta: ' + brl(f.delta) + ' (' + deltaLabel(f.delta) + ')',\n  ].join('\\n');\n}\n\nconst historico = [\n  blocoHistorico(d7,  'Últimos 7 dias'),\n  '',\n  '',\n  blocoHistorico(d30, 'Últimos 30 dias'),\n  '',\n  '',\n  blocoHistorico(d90, 'Últimos 90 dias'),\n].join('\\n');\n\n// ── Estrutura principal ───────────────────────────────────────────────────────\nconst estrutura = [\n  '📋 Resumo Operacional - ' + fmt(d1.data_referencia),\n  '',\n  blocoUsuarios,\n  '',\n  blocoLulu,\n  '',\n  blocoHoje,\n  '',\n  blocoProjecao,\n].join('\\n');\n\n// ── Prompt para o AI ──────────────────────────────────────────────────────────\nconst chatInput = [\n  'Voce e um assistente executivo da Purg.',\n  'Com base nos dados abaixo, escreva EXATAMENTE 2 paragrafos curtos e suscintos de analise comparativa.',\n  'Cada paragrafo deve ter no maximo 2 frases. Cubra angulos diferentes: um sobre usuarios, outro sobre financeiro.',\n  'Regras: texto simples, sem asteriscos, sem markdown, sem introducao, sem assinatura.',\n  '',\n  estrutura,\n].join('\\n');\n\nreturn [{ json: { estrutura, chatInput, historico } }];"
      },
      "id": "monta-prompt",
      "name": "Monta Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "id": "monta-final",
      "name": "Monta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const analise = $input.first().json.text || $input.first().json.output || '';\nconst estrutura = $('Monta Prompt').first().json.estrutura;\nconst historico = $('Monta Prompt').first().json.historico;\n\nconst texto = [\n  estrutura,\n  '',\n  'Análise da Purg',\n  '',\n  analise,\n  '',\n  'Atenciosamente,',\n  'Purg',\n  '',\n  '_________',\n  '',\n  'Abaixo vou deixar o histórico de 7, 30 e 90 dias',\n  '',\n  '',\n  historico,\n].join('\\n');\n\nreturn [{ json: { text: texto } }];"
      }
    },
    {
      "id": "node-tg-Sb1NrN",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8921425982:AAGn1SMCs7Az7GTDL__XIXSvtE4w_o7bcKM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: -5366316204, text: $('Monta Final').first().json.text }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Relatorio": {
      "main": [
        [
          {
            "node": "Monta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Relatorio",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Disparo Manual": {
      "main": [
        [
          {
            "node": "Buscar Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Prompt": {
      "main": [
        [
          {
            "node": "Gemini Relatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Trimestre": {
      "main": [
        [
          {
            "node": "Monta Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Hoje": {
      "main": [
        [
          {
            "node": "Buscar Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Semana": {
      "main": [
        [
          {
            "node": "Buscar 30 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar 30 dias": {
      "main": [
        [
          {
            "node": "Buscar Trimestre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Final": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "61a3fa2d-df35-4d58-8ab8-3c28d2364bd5",
  "activeVersionId": "61a3fa2d-df35-4d58-8ab8-3c28d2364bd5",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-05-11T14:27:56.705Z",
      "createdAt": "2026-05-11T14:27:56.705Z",
      "role": "workflow:owner",
      "workflowId": "Sb1NrNuBPPqudZU4",
      "projectId": "l16jDOjXVVpFFpWJ"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-05T23:09:59.219Z",
    "createdAt": "2026-07-05T23:09:59.219Z",
    "versionId": "61a3fa2d-df35-4d58-8ab8-3c28d2364bd5",
    "workflowId": "Sb1NrNuBPPqudZU4",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 20 * * *"
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          100,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "http-hoje",
        "name": "Buscar Hoje",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          100,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=7",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "http-semana",
        "name": "Buscar Semana",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=30",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "http-report",
        "name": "Buscar 30 dias",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          540,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=90",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "http-trimestre",
        "name": "Buscar Trimestre",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          760,
          300
        ]
      },
      {
        "parameters": {
          "promptType": "auto",
          "options": {}
        },
        "id": "llm-chain",
        "name": "Gemini Relatorio",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          980,
          300
        ]
      },
      {
        "parameters": {
          "modelName": "gemini-2.5-flash-lite",
          "options": {}
        },
        "id": "gemini-model",
        "name": "Google Gemini",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          980,
          480
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "vW6hLLZSK4uh0bxJ",
            "name": "Google Gemini - Purg"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "429683C4C977415CAAFCCE10F7D57E11"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { number: \"120363425414158709@g.us\", text: $json.text } }}",
          "options": {}
        },
        "id": "send-whatsapp",
        "name": "Enviar WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1420,
          300
        ]
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "purg-relatorio-manual",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "webhook-manual",
        "name": "Disparo Manual",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          100,
          500
        ],
        "webhookId": "purg-relatorio-manual"
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "const d1  = $('Buscar Hoje').first().json;\nconst d7  = $('Buscar Semana').first().json;\nconst d30 = $('Buscar 30 dias').first().json;\nconst d90 = $input.first().json;\n\nfunction fmt(s) {\n  const [y, m, d] = s.split('-');\n  return d + '/' + m + '/' + y;\n}\nfunction fmtShort(s) {\n  const [y, m, d] = s.split('-');\n  return d + '/' + m;\n}\nfunction brl(v) {\n  const num = parseFloat(v) || 0;\n  const parts = Math.abs(num).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\nfunction brl8(v) {\n  const num = parseFloat(v) || 0;\n  return 'R$ ' + Math.abs(num).toFixed(8).replace('.', ',');\n}\nfunction pct(a, b) {\n  if (!b) return '0,00';\n  return (parseFloat(a) / parseFloat(b) * 100).toFixed(2).replace('.', ',');\n}\nfunction deltaLabel(v) {\n  const n = parseFloat(v);\n  if (n > 0) return 'positivo';\n  if (n < 0) return 'negativo';\n  return 'neutro';\n}\n\nconst meses = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];\nfunction fmtMes(s) {\n  const [y, m] = s.split('-');\n  return meses[parseInt(m, 10) - 1] + '/' + y;\n}\n\n// ── Usuários ──────────────────────────────────────────────────────────────────\nconst u1 = d1.usuarios;\nconst f1 = d1.financeiro;\nconst taxaConversao = (u1.investindo / u1.total * 100).toFixed(2).replace('.', ',');\n\nconst blocoUsuarios = [\n  '👥 Usuários',\n  '',\n  'Usuários criados: ' + u1.total,\n  'Usuários investindo: ' + u1.investindo,\n  'Taxa de Conversão: ' + taxaConversao + '%',\n  'Total investido: ' + brl(f1.volume_investido),\n  'Ticket Médio: ' + (u1.investindo > 0 ? brl(f1.volume_investido / u1.investindo) : 'R$ 0,00'),\n].join('\\n');\n\n// ── Lulu ──────────────────────────────────────────────────────────────────────\nconst luluTaxas        = f1.lulu_taxas_deposito_total    || 0;\nconst luluDeduzido     = f1.lulu_valor_deduzido_total    || 0;\nconst luluTaxasTotal   = f1.lulu_taxas_deposito_total    || 0;\nconst luluDeduzidoTotal = f1.lulu_valor_deduzido_total   || 0;\nconst luluPct = luluTaxasTotal > 0\n  ? (luluDeduzidoTotal / luluTaxasTotal * 100).toFixed(2).replace('.', ',')\n  : '0,00';\n\nconst luluRestante = luluTaxas - luluDeduzido;\n\nconst blocoLulu = [\n  '💳 Lulu (taxas)',\n  '',\n  'Taxas Efí Bank (Total): ' + brl(luluTaxas),\n  'Recuperado: ' + brl8(luluDeduzido),\n  'Recuperado (%): ' + luluPct + '%',\n  'Taxas Efí Bank (Restante): ' + brl(luluRestante),\n].join('\\n');\n\n// ── Hoje ──────────────────────────────────────────────────────────────────────\nconst usuariosHojeTexto = u1.novos > 0\n  ? 'Houveram ' + u1.novos + ' novos cadastros hoje.'\n  : 'Não houveram novos cadastros hoje.';\n\nconst blocoHoje = [\n  '📅 Hoje',\n  '',\n  usuariosHojeTexto,\n  '',\n  'Depósitos: ' + brl(f1.depositos),\n  'Saques: ' + brl(f1.saques),\n  'Delta: ' + brl(f1.delta) + ' (' + deltaLabel(f1.delta) + ')',\n].join('\\n');\n\n// ── Projeção ──────────────────────────────────────────────────────────────────\nconst projecao = (d1.projecao_6_meses || []).map(function(p) {\n  return '  ' + fmtMes(p.mes) + ': ' + brl(p.total_previsto);\n}).join('\\n');\n\nconst blocoProjecao = [\n  '📈 Projeção das Metas (6 meses)',\n  '',\n  projecao || 'Nenhuma meta ativa.',\n].join('\\n');\n\n// ── Histórico (7, 30, 90 dias) ────────────────────────────────────────────────\nfunction blocoHistorico(d, label) {\n  const u = d.usuarios;\n  const f = d.financeiro;\n  const base = u.total - u.novos;\n  return [\n    '📅 ' + label + ' (' + fmtShort(d.data_inicio) + ' a ' + fmtShort(d.data_referencia) + ')',\n    '',\n    'Tivemos o cadastro de ' + u.novos + ' novos usuários (+' + pct(u.novos, base) + '%) do total de ' + u.total + ' usuários no período.',\n    '',\n    'Depósitos: ' + brl(f.depositos),\n    'Saques: ' + brl(f.saques),\n    'Delta: ' + brl(f.delta) + ' (' + deltaLabel(f.delta) + ')',\n  ].join('\\n');\n}\n\nconst historico = [\n  blocoHistorico(d7,  'Últimos 7 dias'),\n  '',\n  '',\n  blocoHistorico(d30, 'Últimos 30 dias'),\n  '',\n  '',\n  blocoHistorico(d90, 'Últimos 90 dias'),\n].join('\\n');\n\n// ── Estrutura principal ───────────────────────────────────────────────────────\nconst estrutura = [\n  '📋 Resumo Operacional - ' + fmt(d1.data_referencia),\n  '',\n  blocoUsuarios,\n  '',\n  blocoLulu,\n  '',\n  blocoHoje,\n  '',\n  blocoProjecao,\n].join('\\n');\n\n// ── Prompt para o AI ──────────────────────────────────────────────────────────\nconst chatInput = [\n  'Voce e um assistente executivo da Purg.',\n  'Com base nos dados abaixo, escreva EXATAMENTE 2 paragrafos curtos e suscintos de analise comparativa.',\n  'Cada paragrafo deve ter no maximo 2 frases. Cubra angulos diferentes: um sobre usuarios, outro sobre financeiro.',\n  'Regras: texto simples, sem asteriscos, sem markdown, sem introducao, sem assinatura.',\n  '',\n  estrutura,\n].join('\\n');\n\nreturn [{ json: { estrutura, chatInput, historico } }];"
        },
        "id": "monta-prompt",
        "name": "Monta Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          980,
          300
        ]
      },
      {
        "id": "monta-final",
        "name": "Monta Final",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const analise = $input.first().json.text || $input.first().json.output || '';\nconst estrutura = $('Monta Prompt').first().json.estrutura;\nconst historico = $('Monta Prompt').first().json.historico;\n\nconst texto = [\n  estrutura,\n  '',\n  'Análise da Purg',\n  '',\n  analise,\n  '',\n  'Atenciosamente,',\n  'Purg',\n  '',\n  '_________',\n  '',\n  'Abaixo vou deixar o histórico de 7, 30 e 90 dias',\n  '',\n  '',\n  historico,\n].join('\\n');\n\nreturn [{ json: { text: texto } }];"
        }
      },
      {
        "id": "node-tg-Sb1NrN",
        "name": "Enviar Telegram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1660,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8921425982:AAGn1SMCs7Az7GTDL__XIXSvtE4w_o7bcKM/sendMessage",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ chat_id: -5366316204, text: $('Monta Final').first().json.text }) }}",
          "options": {}
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Buscar Hoje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Relatorio": {
        "main": [
          [
            {
              "node": "Monta Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini": {
        "ai_languageModel": [
          [
            {
              "node": "Gemini Relatorio",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Disparo Manual": {
        "main": [
          [
            {
              "node": "Buscar Hoje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Monta Prompt": {
        "main": [
          [
            {
              "node": "Gemini Relatorio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Trimestre": {
        "main": [
          [
            {
              "node": "Monta Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Hoje": {
        "main": [
          [
            {
              "node": "Buscar Semana",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Semana": {
        "main": [
          [
            {
              "node": "Buscar 30 dias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar 30 dias": {
        "main": [
          [
            {
              "node": "Buscar Trimestre",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Monta Final": {
        "main": [
          [
            {
              "node": "Enviar WhatsApp",
              "type": "main",
              "index": 0
            },
            {
              "node": "Enviar Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar WhatsApp": {
        "main": [
          []
        ]
      }
    },
    "authors": "Purg TriHold",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}
