workflows/Sb1NrNuBPPqudZU4_Nami_-_Relatorio_Gerencial_da_Purg.json
{
  "updatedAt": "2026-05-20T11:39:37.950Z",
  "createdAt": "2026-05-11T14:27:56.702Z",
  "id": "Sb1NrNuBPPqudZU4",
  "name": "Nami - Relatorio Gerencial da Purg",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "http-hoje",
      "name": "Buscar Hoje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=7",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "http-semana",
      "name": "Buscar Semana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "http-report",
      "name": "Buscar 30 dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=90",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
            }
          ]
        },
        "options": {}
      },
      "id": "http-trimestre",
      "name": "Buscar Trimestre",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {}
      },
      "id": "llm-chain",
      "name": "Gemini Relatorio",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        980,
        480
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vW6hLLZSK4uh0bxJ",
          "name": "Google Gemini - Purg"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: \"120363425414158709@g.us\", text: $json.text } }}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "purg-relatorio-manual",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-manual",
      "name": "Disparo Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        500
      ],
      "webhookId": "purg-relatorio-manual"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const d1  = $('Buscar Hoje').first().json;\nconst d7  = $('Buscar Semana').first().json;\nconst d30 = $('Buscar 30 dias').first().json;\nconst d90 = $input.first().json;\n\nfunction fmt(s) {\n  const [y, m, d] = s.split('-');\n  return d + '/' + m + '/' + y;\n}\nfunction fmtShort(s) {\n  const [y, m, d] = s.split('-');\n  return d + '/' + m;\n}\nfunction brl(v) {\n  const num = parseFloat(v) || 0;\n  const parts = Math.abs(num).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\nfunction brl8(v) {\n  const num = parseFloat(v) || 0;\n  return 'R$ ' + Math.abs(num).toFixed(8).replace('.', ',');\n}\nfunction pct(a, b) {\n  if (!b) return '0,00';\n  return (a / b * 100).toFixed(2).replace('.', ',');\n}\nfunction deltaEmoji(v) {\n  return parseFloat(v) >= 0 ? '🟢' : '🔴';\n}\nfunction deltaLabel(v) {\n  return parseFloat(v) >= 0 ? 'positivo' : 'negativo';\n}\n\nconst meses = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];\nfunction fmtMes(s) {\n  const [y, m] = s.split('-');\n  return meses[parseInt(m, 10) - 1] + '/' + y;\n}\n\n// ── Usuários ──────────────────────────────────────────────────────────────────\nconst u1 = d1.usuarios;\nconst taxaConversao = Math.round(u1.investindo / u1.total * 100);\nconst usuariosHoje = u1.novos > 0\n  ? '👥 Hoje tivemos ' + u1.novos + ' novos cadastros, totalizando ' + u1.total + ' usuários. Destes, ' + u1.investindo + ' investindo (' + taxaConversao + '% de conversão).'\n  : '👥 Sem novos cadastros hoje. Base: ' + u1.total + ' usuários, ' + u1.investindo + ' investindo (' + taxaConversao + '% de conversão).';\n\nfunction usuariosPeriodo(u) {\n  const base = u.total - u.novos;\n  return '👥 ' + u.novos + ' novos usuários (+' + pct(u.novos, base) + '%). Total: ' + u.total + ', investindo: ' + u.investindo + '.';\n}\n\n// ── Financeiro ────────────────────────────────────────────────────────────────\nfunction finHoje(f) {\n  const dEmoji = deltaEmoji(f.delta);\n  return '💰 Depósitos: ' + brl(f.depositos) + ' | Saques: ' + brl(f.saques) + '\\n' +\n         dEmoji + ' Delta ' + deltaLabel(f.delta) + ': ' + brl(f.delta);\n}\nfunction finPeriodo(f) {\n  const dEmoji = deltaEmoji(f.delta);\n  return '💰 Depósitos: ' + brl(f.depositos) + ' | Saques: ' + brl(f.saques) + '\\n' +\n         dEmoji + ' Delta ' + deltaLabel(f.delta) + ': ' + brl(f.delta);\n}\n\n// ── Lulu ──────────────────────────────────────────────────────────────────────\nfunction luluPeriodo(f) {\n  const taxas   = brl(f.lulu_taxas_deposito_periodo   || 0);\n  const deduzido = brl8(f.lulu_valor_deduzido_periodo || 0);\n  return '🏦 Lulu: taxas Efí Bank ' + taxas + ' | deduzido dos rendimentos ' + deduzido;\n}\n\n// ── Outros ────────────────────────────────────────────────────────────────────\nconst pendentes = d1.financeiro.saques_pendentes || 0;\nconst saquesPendentesLinha = pendentes > 0\n  ? '⚠️ Saques pendentes: ' + pendentes\n  : '✅ Nenhum saque pendente.';\n\nconst volumeInvestido = '💼 Volume total investido: ' + brl(d1.financeiro.volume_investido);\n\nconst projecao = (d1.projecao_6_meses || []).map(function(p) {\n  return '  ' + fmtMes(p.mes) + ': ' + brl(p.total_previsto);\n}).join('\\n');\n\nconst luluTotalBloco = [\n  '🏦 *_Lulu - Total Acumulado_*',\n  '',\n  '💳 Taxas pagas à Efí Bank: ' + brl(d1.financeiro.lulu_taxas_deposito_total   || 0),\n  '🔄 Deduzido dos rendimentos: ' + brl8(d1.financeiro.lulu_valor_deduzido_total || 0),\n].join('\\n');\n\n// ── Estrutura ─────────────────────────────────────────────────────────────────\nconst estrutura = [\n  '📋 *_Resumo Operacional - ' + fmt(d1.data_referencia) + '_*',\n  '',\n  '📅 *_Hoje_*',\n  '',\n  usuariosHoje,\n  '',\n  volumeInvestido,\n  '',\n  finHoje(d1.financeiro),\n  '',\n  luluPeriodo(d1.financeiro),\n  '',\n  saquesPendentesLinha,\n  '',\n  '📅 *_Últimos 7 dias_* (' + fmtShort(d7.data_inicio) + ' a ' + fmtShort(d7.data_referencia) + ')',\n  '',\n  usuariosPeriodo(d7.usuarios),\n  '',\n  finPeriodo(d7.financeiro),\n  '',\n  luluPeriodo(d7.financeiro),\n  '',\n  '📅 *_Últimos 30 dias_* (' + fmtShort(d30.data_inicio) + ' a ' + fmtShort(d30.data_referencia) + ')',\n  '',\n  usuariosPeriodo(d30.usuarios),\n  '',\n  finPeriodo(d30.financeiro),\n  '',\n  luluPeriodo(d30.financeiro),\n  '',\n  '📅 *_Últimos 90 dias_* (' + fmtShort(d90.data_inicio) + ' a ' + fmtShort(d90.data_referencia) + ')',\n  '',\n  usuariosPeriodo(d90.usuarios),\n  '',\n  finPeriodo(d90.financeiro),\n  '',\n  luluPeriodo(d90.financeiro),\n  '',\n  luluTotalBloco,\n  '',\n  '📈 *_Projeção das Metas (6 meses)_*',\n  '',\n  projecao || 'Nenhuma meta ativa configurada.',\n].join('\\n');\n\nconst chatInput = [\n  'Voce e um assistente executivo da Purg.',\n  'Com base nos dados abaixo, escreva EXATAMENTE 2 paragrafos curtos e suscintos de analise comparativa.',\n  'Cada paragrafo deve ter no maximo 2 frases. Cubra angulos diferentes: um sobre usuarios, outro sobre financeiro.',\n  'Regras: texto simples, sem asteriscos, sem markdown, sem introducao, sem assinatura.',\n  '',\n  estrutura,\n].join('\\n');\n\nreturn [{ json: { estrutura, chatInput } }];"
      },
      "id": "monta-prompt",
      "name": "Monta Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        300
      ]
    },
    {
      "id": "monta-final",
      "name": "Monta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const analise = $input.first().json.text || $input.first().json.output || '';\nconst estrutura = $('Monta Prompt').first().json.estrutura;\nconst texto = estrutura + '\\n\\n*_Análise da Purg_*\\n\\n' + analise + '\\n\\nAtenciosamente,\\nPurg';\nreturn [{ json: { text: texto } }];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Relatorio": {
      "main": [
        [
          {
            "node": "Monta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Relatorio",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Disparo Manual": {
      "main": [
        [
          {
            "node": "Buscar Hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Prompt": {
      "main": [
        [
          {
            "node": "Gemini Relatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Trimestre": {
      "main": [
        [
          {
            "node": "Monta Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Hoje": {
      "main": [
        [
          {
            "node": "Buscar Semana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Semana": {
      "main": [
        [
          {
            "node": "Buscar 30 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar 30 dias": {
      "main": [
        [
          {
            "node": "Buscar Trimestre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Final": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "97a3c262-8b92-4342-90f0-82ed2401e04b",
  "activeVersionId": "97a3c262-8b92-4342-90f0-82ed2401e04b",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-05-11T14:27:56.705Z",
      "createdAt": "2026-05-11T14:27:56.705Z",
      "role": "workflow:owner",
      "workflowId": "Sb1NrNuBPPqudZU4",
      "projectId": "l16jDOjXVVpFFpWJ"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-20T11:39:37.952Z",
    "createdAt": "2026-05-20T11:39:37.952Z",
    "versionId": "97a3c262-8b92-4342-90f0-82ed2401e04b",
    "workflowId": "Sb1NrNuBPPqudZU4",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 20 * * *"
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          100,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "http-hoje",
        "name": "Buscar Hoje",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          100,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=7",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "http-semana",
        "name": "Buscar Semana",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          320,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=30",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "http-report",
        "name": "Buscar 30 dias",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          540,
          300
        ]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "https://jinx.purg.com.br/api/webhook/relatorio-gerencial?dias=90",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "3ec424b8d22ed1409cd687a7df344b446e6ad2180eb6955996e805d706340126"
              }
            ]
          },
          "options": {}
        },
        "id": "http-trimestre",
        "name": "Buscar Trimestre",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          760,
          300
        ]
      },
      {
        "parameters": {
          "promptType": "auto",
          "options": {}
        },
        "id": "llm-chain",
        "name": "Gemini Relatorio",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          980,
          300
        ]
      },
      {
        "parameters": {
          "modelName": "gemini-2.5-flash-lite",
          "options": {}
        },
        "id": "gemini-model",
        "name": "Google Gemini",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          980,
          480
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "vW6hLLZSK4uh0bxJ",
            "name": "Google Gemini - Purg"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-evolution-api.rqkx8g.easypanel.host/message/sendText/purg-whatsapp",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "429683C4C977415CAAFCCE10F7D57E11"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { number: \"120363425414158709@g.us\", text: $json.text } }}",
          "options": {}
        },
        "id": "send-whatsapp",
        "name": "Enviar WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1420,
          300
        ]
      },
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "purg-relatorio-manual",
          "responseMode": "onReceived",
          "options": {}
        },
        "id": "webhook-manual",
        "name": "Disparo Manual",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          100,
          500
        ],
        "webhookId": "purg-relatorio-manual"
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "const d1  = $('Buscar Hoje').first().json;\nconst d7  = $('Buscar Semana').first().json;\nconst d30 = $('Buscar 30 dias').first().json;\nconst d90 = $input.first().json;\n\nfunction fmt(s) {\n  const [y, m, d] = s.split('-');\n  return d + '/' + m + '/' + y;\n}\nfunction fmtShort(s) {\n  const [y, m, d] = s.split('-');\n  return d + '/' + m;\n}\nfunction brl(v) {\n  const num = parseFloat(v) || 0;\n  const parts = Math.abs(num).toFixed(2).split('.');\n  parts[0] = parts[0].replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return 'R$ ' + parts[0] + ',' + parts[1];\n}\nfunction brl8(v) {\n  const num = parseFloat(v) || 0;\n  return 'R$ ' + Math.abs(num).toFixed(8).replace('.', ',');\n}\nfunction pct(a, b) {\n  if (!b) return '0,00';\n  return (a / b * 100).toFixed(2).replace('.', ',');\n}\nfunction deltaEmoji(v) {\n  return parseFloat(v) >= 0 ? '🟢' : '🔴';\n}\nfunction deltaLabel(v) {\n  return parseFloat(v) >= 0 ? 'positivo' : 'negativo';\n}\n\nconst meses = ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'];\nfunction fmtMes(s) {\n  const [y, m] = s.split('-');\n  return meses[parseInt(m, 10) - 1] + '/' + y;\n}\n\n// ── Usuários ──────────────────────────────────────────────────────────────────\nconst u1 = d1.usuarios;\nconst taxaConversao = Math.round(u1.investindo / u1.total * 100);\nconst usuariosHoje = u1.novos > 0\n  ? '👥 Hoje tivemos ' + u1.novos + ' novos cadastros, totalizando ' + u1.total + ' usuários. Destes, ' + u1.investindo + ' investindo (' + taxaConversao + '% de conversão).'\n  : '👥 Sem novos cadastros hoje. Base: ' + u1.total + ' usuários, ' + u1.investindo + ' investindo (' + taxaConversao + '% de conversão).';\n\nfunction usuariosPeriodo(u) {\n  const base = u.total - u.novos;\n  return '👥 ' + u.novos + ' novos usuários (+' + pct(u.novos, base) + '%). Total: ' + u.total + ', investindo: ' + u.investindo + '.';\n}\n\n// ── Financeiro ────────────────────────────────────────────────────────────────\nfunction finHoje(f) {\n  const dEmoji = deltaEmoji(f.delta);\n  return '💰 Depósitos: ' + brl(f.depositos) + ' | Saques: ' + brl(f.saques) + '\\n' +\n         dEmoji + ' Delta ' + deltaLabel(f.delta) + ': ' + brl(f.delta);\n}\nfunction finPeriodo(f) {\n  const dEmoji = deltaEmoji(f.delta);\n  return '💰 Depósitos: ' + brl(f.depositos) + ' | Saques: ' + brl(f.saques) + '\\n' +\n         dEmoji + ' Delta ' + deltaLabel(f.delta) + ': ' + brl(f.delta);\n}\n\n// ── Lulu ──────────────────────────────────────────────────────────────────────\nfunction luluPeriodo(f) {\n  const taxas   = brl(f.lulu_taxas_deposito_periodo   || 0);\n  const deduzido = brl8(f.lulu_valor_deduzido_periodo || 0);\n  return '🏦 Lulu: taxas Efí Bank ' + taxas + ' | deduzido dos rendimentos ' + deduzido;\n}\n\n// ── Outros ────────────────────────────────────────────────────────────────────\nconst pendentes = d1.financeiro.saques_pendentes || 0;\nconst saquesPendentesLinha = pendentes > 0\n  ? '⚠️ Saques pendentes: ' + pendentes\n  : '✅ Nenhum saque pendente.';\n\nconst volumeInvestido = '💼 Volume total investido: ' + brl(d1.financeiro.volume_investido);\n\nconst projecao = (d1.projecao_6_meses || []).map(function(p) {\n  return '  ' + fmtMes(p.mes) + ': ' + brl(p.total_previsto);\n}).join('\\n');\n\nconst luluTotalBloco = [\n  '🏦 *_Lulu - Total Acumulado_*',\n  '',\n  '💳 Taxas pagas à Efí Bank: ' + brl(d1.financeiro.lulu_taxas_deposito_total   || 0),\n  '🔄 Deduzido dos rendimentos: ' + brl8(d1.financeiro.lulu_valor_deduzido_total || 0),\n].join('\\n');\n\n// ── Estrutura ─────────────────────────────────────────────────────────────────\nconst estrutura = [\n  '📋 *_Resumo Operacional - ' + fmt(d1.data_referencia) + '_*',\n  '',\n  '📅 *_Hoje_*',\n  '',\n  usuariosHoje,\n  '',\n  volumeInvestido,\n  '',\n  finHoje(d1.financeiro),\n  '',\n  luluPeriodo(d1.financeiro),\n  '',\n  saquesPendentesLinha,\n  '',\n  '📅 *_Últimos 7 dias_* (' + fmtShort(d7.data_inicio) + ' a ' + fmtShort(d7.data_referencia) + ')',\n  '',\n  usuariosPeriodo(d7.usuarios),\n  '',\n  finPeriodo(d7.financeiro),\n  '',\n  luluPeriodo(d7.financeiro),\n  '',\n  '📅 *_Últimos 30 dias_* (' + fmtShort(d30.data_inicio) + ' a ' + fmtShort(d30.data_referencia) + ')',\n  '',\n  usuariosPeriodo(d30.usuarios),\n  '',\n  finPeriodo(d30.financeiro),\n  '',\n  luluPeriodo(d30.financeiro),\n  '',\n  '📅 *_Últimos 90 dias_* (' + fmtShort(d90.data_inicio) + ' a ' + fmtShort(d90.data_referencia) + ')',\n  '',\n  usuariosPeriodo(d90.usuarios),\n  '',\n  finPeriodo(d90.financeiro),\n  '',\n  luluPeriodo(d90.financeiro),\n  '',\n  luluTotalBloco,\n  '',\n  '📈 *_Projeção das Metas (6 meses)_*',\n  '',\n  projecao || 'Nenhuma meta ativa configurada.',\n].join('\\n');\n\nconst chatInput = [\n  'Voce e um assistente executivo da Purg.',\n  'Com base nos dados abaixo, escreva EXATAMENTE 2 paragrafos curtos e suscintos de analise comparativa.',\n  'Cada paragrafo deve ter no maximo 2 frases. Cubra angulos diferentes: um sobre usuarios, outro sobre financeiro.',\n  'Regras: texto simples, sem asteriscos, sem markdown, sem introducao, sem assinatura.',\n  '',\n  estrutura,\n].join('\\n');\n\nreturn [{ json: { estrutura, chatInput } }];"
        },
        "id": "monta-prompt",
        "name": "Monta Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          980,
          300
        ]
      },
      {
        "id": "monta-final",
        "name": "Monta Final",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const analise = $input.first().json.text || $input.first().json.output || '';\nconst estrutura = $('Monta Prompt').first().json.estrutura;\nconst texto = estrutura + '\\n\\n*_Análise da Purg_*\\n\\n' + analise + '\\n\\nAtenciosamente,\\nPurg';\nreturn [{ json: { text: texto } }];"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Buscar Hoje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Relatorio": {
        "main": [
          [
            {
              "node": "Monta Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini": {
        "ai_languageModel": [
          [
            {
              "node": "Gemini Relatorio",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Disparo Manual": {
        "main": [
          [
            {
              "node": "Buscar Hoje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Monta Prompt": {
        "main": [
          [
            {
              "node": "Gemini Relatorio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Trimestre": {
        "main": [
          [
            {
              "node": "Monta Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Hoje": {
        "main": [
          [
            {
              "node": "Buscar Semana",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Semana": {
        "main": [
          [
            {
              "node": "Buscar 30 dias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar 30 dias": {
        "main": [
          [
            {
              "node": "Buscar Trimestre",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Monta Final": {
        "main": [
          [
            {
              "node": "Enviar WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Purg TriHold",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}
